<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wifi-on</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <a href=""><span class="logo">WiFi On</span></a>
      <div class="wrapper-navigations">
        <a href=""><span class="navigate">Тарифы</span></a>
        <a href=""><span class="navigate">Отзывы</span></a>
        <a href=""><span class="navigate">О нас</span></a>
        <a href=""><span class="navigate">Часто задаваемые вопросы</span></a>
        <a href=""
          ><div class="wrapper-telephone">
            <span class="navigate">+78005500792</span>
            <img src="../img/main/telephone.svg" alt="" /></div
        ></a>
      </div>
      <button class="">Оставить заявку</button>
    </div>
    <div class="container-search">
      <span
        >Найди своего идеального <span>провайдера</span> в вашем городе
        здесь</span
      >
      <input
        type="search"
        name=""
        id=""
        placeholder="Начтите вводить свой адрес"
      />
    </div>

    <div class="providers">
      <span>Провайдеры в г. Тюмень</span>
      <div class="wrapper-providers">
        <a href=""><img src="../img/main/bln80px.png" alt="" /></a>
        <a href=""><img src="../img/main/mts80px.png" alt="" /></a>
        <a href=""><img src="../img/main/rtk80px.png" alt="" /></a>
        <a href=""><img src="../img/main/ttk80px.png" alt="" /></a>
        <a href=""><img src="../img/main/domru80px.png" alt="" /></a>
      </div>
    </div>
    <div class="popular-tariffs">
      <span class="popular-tariffs-text"
        >Популярные тарифы по городу Тюмень</span
      >
      <div class="wrapper-card-tariff">
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="../img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="../img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="../img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="../img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button>Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="../img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="../img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="../img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="../img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button>Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="../img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="../img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="../img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="../img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button>Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="../img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="../img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="../img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="../img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button>Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="advantages">
      <div class="advantage">
        <img src="/img/main/широкийВыбор64px.png" alt="" /><span
          >Мы предлагаем огромный ассортимент тарифных планов от всех
          провайдеров, включая федеральных и региональных операторов связи. У
          нас вы сможете найти множество вариантов для подключения, включая
          десятки различных тарифов. Мы понимаем, что каждый клиент имеет свои
          уникальные потребности, поэтому мы предлагаем самый широкий выбор
          тарифов, чтобы удовлетворить все ваши требования.</span
        >
      </div>
      <div class="advantage">
        <img src="/img/main/качество64px.png" alt="" /><span
          >Мы активно собираем обратную связь от наших клиентов о работе наших
          партнеров Интернет-провайдеров. Это позволяет нам быть в курсе их
          работы и предлагать клиенту только лучшие предложения по качеству. Мы
          ценим мнение наших клиентов и стремимся обеспечить высокое качество
          работы наших провайдеров.</span
        >
      </div>
      <div class="advantage">
        <img src="/img/main/официально64px.png" alt="" /><span>
          Вы заключаете соглашение прямо с поставщиком и получаете доступ к
          персональному кабинету. Поэтому вы можете рассчитывать на поддержку
          экспертов в случае проблем, они всегда доступны. Обеспечивается также
          высокое качество оборудования.</span
        >
      </div>
      <div class="advantage">
        <img src="/img/main/сравнение64px.png" alt="" /><span
          >На нашем веб-сайте вы можете оперативно сопоставить цену, условия
          подключения и другую информацию, относящуюся к тарифам, и сделать
          оптимальный выбор! Чтобы облегчить поиск, мы отбираем предложения по
          объему данных, количеству минут и стоимости (₽). Введите эти параметры
          для удобства.</span
        >
      </div>
      <div class="advantage">
        <img src="/img/main/выгодно64px.png" alt="" />
        <span>
          Мы не только предлагаем скидки от партнеров, с которыми сотрудничаем,
          но и предлагаем выгодные предложения от себя. Акции проводятся
          регулярно!
        </span>
      </div>
      <div class="advantage">
        <img src="/img/main/доступныеЦены64px.png" alt="" />
        <span>
          Вы получите возможность воспользоваться всеми скидками, акциями и
          бонусами от провайдера. Мы предлагаем такую же стоимость подписки, а
          иногда даже ниже!
        </span>
      </div>
    </div>
    <!-- <div class="cities">
      <div class="wrapper-cities">
        <a href="">Москва</a>
        <a href="">Санкт-Петербург</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
      </div>
      <div class="wrapper-cities">
        <a href="">Москва</a>
        <a href="">Санкт-Петербург</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
      </div>
      <div class="wrapper-cities">
        <a href="">Москва</a>
        <a href="">Санкт-Петербург</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
      </div>
      <div class="wrapper-cities">
        <a href="">Москва</a>
        <a href="">Санкт-Петербург</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
        <a href="">Москва</a>
      </div>
    </div>
    <div class="questions"></div>
    <div class="reviews"></div>
    <div class="wrapper-form"></div>
    <div class="footer"></div> -->
  </body>
</html>
