body {
  margin: 0px;
  background-color: #fff;
}
/* АНИМАЦИИ НА ОБЩАГ */
button {
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
}

.card-tariff {
  transition: transform 0.1s ease-out;
}

.card-tariff:hover {
  transform: scale(1.04);
}
.wrapper-navigations a {
  position: relative;
}
.wrapper-navigations a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #2a6f97;
}
.wrapper-navigations a::after {
  width: 0;
  transition: 0.3s;
}
.wrapper-navigations a:hover:after {
  width: 100%;
}
/* HEADER */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f7fa;
}

.wrapper-navigations {
  display: flex;
  gap: 60px;
}

.logo {
  display: flex;

  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo svg {
  margin-right: 5px;
}

.logo span:nth-child(1) {
  color: #000;
}

.logo span:nth-child(2) {
  color: #2a6f97;
}

.logo span:nth-child(3) {
  color: #013a63;
}

.navigate {
  color: #000;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper-telephone {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.header button {
  border-radius: 10px;
  background-color: rgb(42 111 151);
  padding: 15px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

a {
  text-decoration: none;
}
/* ФИЛЬТРАЦИЯ КАРТОЧЕК */
.filter-cards {
  display: flex;
}

/* ФИЛЬТРАЦИЯ */
.filters {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 12px;
  background-color: #f5f7fa;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-name {
  color: #000;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter-params {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.filter-params span {
  color: #000;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slider {
  display: flex;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-numbers {
  height: 15px;
  width: 50px;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;

  color: #000;

  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* ВРАППЕР ДЛЯ КАРТОЧЕК */
.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px;
}
/* КАРТОЧКА ТОВАРА */
.card-tariff {
  height: 400px;
  width: 255px;
  border-radius: 20px;
  box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.25),
    0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-tariff-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #2a6f97;
  border-radius: 20px 20px 0 0;
  padding: 7px;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-tariff-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.wrapper-priceAndLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper-priceAndLogo span:nth-child(1) {
  color: #000;
  text-decoration: line-through;
  text-decoration-color: red;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper-priceAndLogo span:nth-child(2) {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.params {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.param {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.param span {
  color: #000;

  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.conn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.conn-info button {
  height: 30px;
  width: 180px;
  background-color: #2a6f97;
  border: none;
  border-radius: 10px;
  color: #fff;

  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.conn-info a {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
/* ФУТЕР */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 147px;
}

.wrapper-footer-a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.footer a {
  color: #ccc;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-logo {
  text-align: center;
  padding-top: 10px;
  border-top: solid 1px #ccc;
  width: 80%;

  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-logo span:nth-child(1) {
  color: #ffffff;
}

.footer-logo span:nth-child(2) {
  color: #38bdf8;
}

.footer-logo span:nth-child(3) {
  color: #0369a1;
}

.footer-title {
  color: #9ca3af;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
