<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/auth.css" />
  </head>
  <body>
    <div class="container">
      <img src="/static/img/logo.png" alt="" />
      <div class="login">
        <input placeholder="Логин" type="text" id="login"/>
        <span>Неверный логин</span>
      </div>
      <div class="password">
        <input placeholder="Пароль" type="password" name="" id="password" />
        <span>Неверный пароль</span>
      </div>

      <button onclick="TryToLogin()">Отправить</button>
    </div>
<script src="/static/js/auth.js"></script>
  </body>
</html>
