<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Создание</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="create-application.css" />
    <link rel="stylesheet" href="header-applications.css" />
  </head>
  <body>
    <div class="header">
      <div class="navigateAndLogo">
        <a href=""><img src="/static/img/logo.png" alt="" /></a>
        <div class="navigate">
          <a href="">Создание заявки</a>
          <a href="">Список заявок</a>
          <a href="">Мои продажи</a>
        </div>
      </div>
      <a href="">Выход</a>
    </div>
    <div class="create"></div>
  </body>
</html>
