<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заявки</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/history-applications.css" />
    <link rel="stylesheet" href="/static/css/header-applications.css" />
  </head>
  <body>
    <div class="header">
      <div class="navigateAndLogo">
        <a href=""><img src="/static/img/logo.png" alt="" /></a>
        <div class="navigate">
          <a href="">Создание заявки</a>
          <a href="">История заявок</a>
          <a href="">Мои продажи</a>
        </div>
      </div>
      <a href="/auth">Выход</a>
    </div>
    <div class="main">
      <h1>История заявок</h1>
      <div class="filters"></div>
      <div class="orders">
        <table>
          <thead>
            <tr>
              <th>Дата создания</th>
              <th>Адрес</th>
              <th>Категория</th>
              <th>Ожидаемая дата</th>
              <th>Статуc заявки</th>
              <th>Код закрытия</th>
              <th>ФИО сотрудника</th>
              <th>Номер заявки</th>
              <th>Дата закрытия</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>23.01.24 11:53</td>
              <td>
                Челябинская обл, г Магнитогорск, пр-кт Карла Маркса, д. 121, кв.
                108
              </td>
              <td>Конвергент</td>
              <td>2024.01.28 16:00-18:00</td>
              <td>Открыт</td>
              <td></td>
              <td>ИП Кирьянов Д</td>
              <td>1-788393170702</td>
              <td>23.01.2024 15:56</td>
            </tr>
            <tr>
              <td>23.01.24 11:53</td>
              <td>
                Челябинская обл, г Магнитогорск, пр-кт Карла Маркса, д. 121, кв.
                108
              </td>
              <td>Конвергент</td>
              <td>2024.01.28 16:00-18:00</td>
              <td>Открыт</td>
              <td></td>
              <td>ИП Кирьянов Д</td>
              <td>1-788393170702</td>
              <td>23.01.2024 15:56</td>
            </tr>
            <tr>
              <td>23.01.24 11:53</td>
              <td>
                Челябинская обл, г Магнитогорск, пр-кт Карла Маркса, д. 121, кв.
                108
              </td>
              <td>Конвергент</td>
              <td>2024.01.28 16:00-18:00</td>
              <td>Открыт</td>
              <td></td>
              <td>ИП Кирьянов Д</td>
              <td>1-788393170702</td>
              <td>23.01.2024 15:56</td>
            </tr>
            <tr>
              <td>23.01.24 11:53</td>
              <td>
                Челябинская обл, г Магнитогорск, пр-кт Карла Маркса, д. 121, кв.
                108
              </td>
              <td>Конвергент</td>
              <td>2024.01.28 16:00-18:00</td>
              <td>Открыт</td>
              <td></td>
              <td>ИП Кирьянов Д</td>
              <td>1-788393170702</td>
              <td>23.01.2024 15:56</td>
            </tr>
            <tr>
              <td>23.01.24 11:53</td>
              <td>
                Челябинская обл, г Магнитогорск, пр-кт Карла Маркса, д. 121, кв.
                108
              </td>
              <td>Конвергент</td>
              <td>2024.01.28 16:00-18:00</td>
              <td>Открыт</td>
              <td></td>
              <td>ИП Кирьянов Д</td>
              <td>1-788393170702</td>
              <td>23.01.2024 15:56</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer"></div>
    <div class="modals-container"><div class="modals"></div></div>
    <script src="/static/js/history-applications.js"></script>
  </body>
</html>
