<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wifi-on</title>
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  </head>
  <body>
    <div class="header-cities">
      <div class="header">
        <a href="/"
          ><span class="logo">
            <svg
              width="55"
              height="55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#a)">
                <path
                  d="M47.6 10.47H33.66c-.95 0-1.74-.8-1.74-1.75s.79-1.74 1.74-1.74h13.96c.95 0 1.74.79 1.74 1.74 0 .96-.79 1.75-1.74 1.75Z"
                  fill="#292D32"
                />
                <path
                  d="M40.63 17.44h-6.98c-.95 0-1.74-.79-1.74-1.74s.79-1.74 1.74-1.74h6.98c.95 0 1.75.79 1.75 1.74s-.8 1.74-1.75 1.74Z"
                  fill="#2A6F97"
                />
                <path
                  d="M27.84 47.68A23.87 23.87 0 0 1 4 23.84 23.87 23.87 0 0 1 27.84 0c.95 0 1.74.8 1.74 1.74 0 .96-.79 1.75-1.74 1.75A20.37 20.37 0 0 0 7.49 23.84a20.37 20.37 0 0 0 20.35 20.35 20.37 20.37 0 0 0 20.35-20.35c0-.95.8-1.74 1.74-1.74.96 0 1.75.79 1.75 1.74a23.87 23.87 0 0 1-23.84 23.84Z"
                  fill="#013A63"
                />
                <path
                  d="M52.26 50c-.44 0-.88-.16-1.23-.5l-4.65-4.66a1.75 1.75 0 0 1 0-2.46c.67-.68 1.79-.68 2.46 0l4.65 4.65c.68.67.68 1.79 0 2.46-.34.35-.79.51-1.23.51Z"
                  fill="#292D32"
                />
              </g>
              <defs>
                <filter
                  id="a"
                  x="0"
                  y="0"
                  width="58"
                  height="58"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_58_208"
                  />
                  <feBlend
                    in="SourceGraphic"
                    in2="effect1_dropShadow_58_208"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
            <span>On-</span><span>Wi</span><span>Fi</span></span
          ></a
        >
        <div class="wrapper-navigations">
          <a href="/tariffs?city={{data['City']['Name']}}"
            ><span class="navigate">Тарифы</span></a
          >
          <a href="/reviews"><span class="navigate">Отзывы</span></a>
          <a href="/aboutUs"><span class="navigate">О нас</span></a>
          <a href="/questions"
            ><span class="navigate">Часто задаваемые вопросы</span></a
          >
          <a href=""
            ><div class="wrapper-telephone">
              <span class="navigate">+78005500792</span>
              <img
                src="static/img/main/telephone.svg"
                alt="Иконка телефона"
              /></div
          ></a>
        </div>
        <div
          class="city-button"
          id="cityButton"
          data-city='{{data.City["NameEng"]}}'
        >
          <span onclick="openModalCities()">Город</span>
          <button onclick="openModalApplication()" class="active-modal">
            Оставить заявку
          </button>
        </div>
      </div>

      <div class="header__mobile">
        <a href=""
          ><span class="logo">
            <svg
              width="55"
              height="55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#a)">
                <path
                  d="M47.6 10.47H33.66c-.95 0-1.74-.8-1.74-1.75s.79-1.74 1.74-1.74h13.96c.95 0 1.74.79 1.74 1.74 0 .96-.79 1.75-1.74 1.75Z"
                  fill="#292D32"
                />
                <path
                  d="M40.63 17.44h-6.98c-.95 0-1.74-.79-1.74-1.74s.79-1.74 1.74-1.74h6.98c.95 0 1.75.79 1.75 1.74s-.8 1.74-1.75 1.74Z"
                  fill="#2A6F97"
                />
                <path
                  d="M27.84 47.68A23.87 23.87 0 0 1 4 23.84 23.87 23.87 0 0 1 27.84 0c.95 0 1.74.8 1.74 1.74 0 .96-.79 1.75-1.74 1.75A20.37 20.37 0 0 0 7.49 23.84a20.37 20.37 0 0 0 20.35 20.35 20.37 20.37 0 0 0 20.35-20.35c0-.95.8-1.74 1.74-1.74.96 0 1.75.79 1.75 1.74a23.87 23.87 0 0 1-23.84 23.84Z"
                  fill="#013A63"
                />
                <path
                  d="M52.26 50c-.44 0-.88-.16-1.23-.5l-4.65-4.66a1.75 1.75 0 0 1 0-2.46c.67-.68 1.79-.68 2.46 0l4.65 4.65c.68.67.68 1.79 0 2.46-.34.35-.79.51-1.23.51Z"
                  fill="#292D32"
                />
              </g>
              <defs>
                <filter
                  id="a"
                  x="0"
                  y="0"
                  width="58"
                  height="58"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_58_208"
                  />
                  <feBlend
                    in="SourceGraphic"
                    in2="effect1_dropShadow_58_208"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
            <span>On-</span><span>Wi</span><span>Fi</span></span
          ></a
        >
        <a href=""
          ><div class="wrapper-telephone">
            <span class="navigate">+78005500792</span>
            <img
              src="static/img/main/telephone.svg"
              alt="Иконка телефона"
            /></div
        ></a>
      </div>
      <div class="menuMobile">
        <button class="btn-mobile" onclick="menuMobile()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="26"
            fill="none"
          >
            <path stroke="#000" stroke-width="6" d="M0 3h24M0 13h24M0 23h24" />
          </svg>
        </button>
        <div class="wrapper__mobile" id="mobileMenu">
          <a href="/tariffs?city={{data['City']['Name']}}"
            ><span class="navigate navigate-mobile">Тарифы</span></a
          >
          <a href="/reviews"
            ><span class="navigate navigate-mobile">Отзывы</span></a
          >
          <a href="/aboutUs"
            ><span class="navigate navigate-mobile">О нас</span></a
          >
          <a href="/questions"
            ><span class="navigate navigate-mobile">Вопросы</span></a
          >
          <div class="city-button">
            <span onclick="openModalCities()">Город</span>
            <button
              onclick="openModalApplication()"
              class="active-modal modal-mobile"
            >
              Оставить заявку
            </button>
          </div>
        </div>
      </div>

      <div style="display: none" id="cities" class="cities">
        <span>Города в которых мы есть</span>
        <div class="wrapper-all-cities">
          <a href="">Москва</a>
          <a href="">Санкт-Петербург</a>
          <a href="">Новосибирск</a>
          <a href="">Екатеринбург</a>
          <a href="">Нижний Новгород</a>
          <a href="">Казань</a>
          <a href="">Самара</a>
          <a href="">Челябинск</a>
          <a href="">Омск</a>
          <a href="">Ростов-на-Дону</a>
          <a href="">Уфа</a>
          <a href="">Пермь</a>
          <a href="">Сургут</a>
          <a href="">Хабаровск</a>
          <a href="">Киров</a>
          <a href="">Чебоксары</a>
          <a href="">Калининград</a>
          <a href="">Курск</a>
          <a href="">Улан-Удэ</a>
          <a href="">Ставрополь</a>
          <a href="">Магнитогорск</a>
          <a href="">Тверь</a>
          <a href="">Иваново</a>
          <a href="">Брянск</a>
          <a href="">Сочи</a>
          <a href="">Белгород</a>
          <a href="">Махачкала</a>
          <a href="">Оренбург</a>
          <a href="">Томск</a>
          <a href="">Новокузнецк</a>
          <a href="">Кемерово</a>
          <a href="">Астрахань</a>
          <a href="">Рязань</a>
          <a href="">Набережные</a>
          <a href="">Челны</a>
          <a href="">Пенза</a>
          <a href="">Липецк </a>
          <a href="">Тула</a>
          <a href="">Волгоград</a>
          <a href="">Воронеж</a>
          <a href="">Саратов</a>
          <a href="">Краснодар</a>
          <a href="">Тольятти</a>
          <a href="">Тюмень</a>
          <a href="">Ижевск</a>
          <a href="">Барнаул</a>
          <a href="">Ульяновск</a>
          <a href="">Иркутск</a>
          <a href="">Владивосток</a>
          <a href="">Ярославль</a>
        </div>
      </div>
    </div>
    <div class="container-search">
      <span class="container-search-span1"
        >Найди своего идеального <span>провайдера</span> <br />здесь</span
      >
      <p>Подключи <span id="typed-output"></span></p>
      <div class="wrapper-search">
        <input
          type="search"
          name=""
          id="SearchBox"
          placeholder="Начните вводить свой адрес"
          oninput="CheckAddress()"
        />
        <div id="SuggestionsContainer"></div>
      </div>
    </div>

    <div class="providers">
      <span>Провайдеры в городе {{data.City['Name']}}</span>
      <div class="wrapper-providers">
        <a href=""><img src="static/img/main/bln80px.png" alt="beeline" /></a>
        <a href=""><img src="static/img/main/mts80px.png" alt="mts" /></a>
        <a href=""><img src="static/img/main/rtk80px.png" alt="rtk" /></a>
        <a href=""><img src="static/img/main/ttk80px.png" alt="ttk" /></a>
        <a href=""><img src="static/img/main/domru80px.png" alt="domru" /></a>
      </div>
    </div>
    <div class="popular-tariffs">
      <span class="popular-tariffs-text"
        >Популярные тарифы в городе {{data.City['Name']}}</span
      >
      <div class="wrapper-card-tariff">
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="static/img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="static/img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button onclick="openModalApplication()">Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="static/img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="static/img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button onclick="openModalApplication()">Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="static/img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="static/img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button onclick="openModalApplication()">Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
        <div class="card-tariff">
          <div class="card-tariff-header">
            <span>Первый месяц бесплатно! 11 Месяцев по скидке</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              <span>790</span>
              <span>390 руб</span>
              <img src="static/img/main/mts45px.png" alt="" />
            </div>
            <div class="params">
              <div class="param">
                <img src="static/img/main/inet35px.png" alt="" /><span
                  >500 мбит/сек.</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/tv35px.png" alt="" /><span
                  >221 канал + Kion</span
                >
              </div>
              <div class="param">
                <img src="static/img/main/mob35px.png" alt="" /><span
                  >50Гб + 1200 минут</span
                >
              </div>
            </div>
            <div class="conn-info">
              <button onclick="openModalApplication()">Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="advantages">
      <div class="advantage">
        <img src="static/img/main/широкийВыбор64px.png" alt="" /><span
          >Мы предлагаем огромный ассортимент тарифных планов от всех
          провайдеров, включая федеральных и региональных операторов связи. У
          нас вы сможете найти множество вариантов для подключения, включая
          десятки различных тарифов. Мы понимаем, что каждый клиент имеет свои
          уникальные потребности, поэтому мы предлагаем самый широкий выбор
          тарифов, чтобы удовлетворить все ваши требования.</span
        >
      </div>
      <div class="advantage">
        <img src="static/img/main/качество64px.png" alt="" /><span
          >Мы активно собираем обратную связь от наших клиентов о работе наших
          партнеров Интернет-провайдеров. Это позволяет нам быть в курсе их
          работы и предлагать клиенту только лучшие предложения по качеству. Мы
          ценим мнение наших клиентов и стремимся обеспечить высокое качество
          работы наших провайдеров.</span
        >
      </div>
      <div class="advantage">
        <img src="static/img/main/официально64px.png" alt="" /><span>
          Вы заключаете соглашение прямо с поставщиком и получаете доступ к
          персональному кабинету. Поэтому вы можете рассчитывать на поддержку
          экспертов в случае проблем, они всегда доступны. Обеспечивается также
          высокое качество оборудования.</span
        >
      </div>
      <div class="advantage">
        <img src="static/img/main/сравнение64px.png" alt="" /><span
          >На нашем веб-сайте вы можете оперативно сопоставить цену, условия
          подключения и другую информацию, относящуюся к тарифам, и сделать
          оптимальный выбор! Чтобы облегчить поиск, мы отбираем предложения по
          объему данных, количеству минут и стоимости (₽). Введите эти параметры
          для удобства.</span
        >
      </div>
      <div class="advantage">
        <img src="static/img/main/выгодно64px.png" alt="" />
        <span>
          Мы не только предлагаем скидки от партнеров, с которыми сотрудничаем,
          но и предлагаем выгодные предложения от себя. Акции проводятся
          регулярно!
        </span>
      </div>
      <div class="advantage">
        <img src="static/img/main/доступныеЦены64px.png" alt="" />
        <span>
          Вы получите возможность воспользоваться всеми скидками, акциями и
          бонусами от провайдера. Мы предлагаем такую же стоимость подписки, а
          иногда даже ниже!
        </span>
      </div>
    </div>

    <div class="wrapper-form">
      <span>Свяжитесь с нами</span>
      <span>Для сотрудничества</span>
      <form method="post" id="colobarationForm">
        <input
          placeholder="Ваше имя"
          type="text"
          name="name"
          id="colobarationName"
        />
        <input
          placeholder="Ваш E-mail "
          type="email"
          name="email"
          id="colobarationEmail"
        />
        <button id="colobarationButton">Оставить заявку</button>
      </form>
    </div>
    <div class="footer">
      <div class="wrapper-footer-a">
        <a href="/tariffs?city={{data['City']['Name']}}">Тариф</a>
        <a href="/reviews">Отзывы клиентов</a>
        <a href="/aboutUs">О нас</a>
        <a href="/questions">Часто задаваемые вопросы</a>
      </div>
      <div class="footer-logo">
        <span>On-</span><span>Wi</span><span>Fi</span>
      </div>
      <span class="footer-title">© 2023 On-WiFi. Все права защищены.</span>
    </div>

    <div id="modal" class="modals-inactive">
      <div class="modals">
        <div class="modals-header">
          <p>Оставить заявку</p>
          <img
            onclick="closeModalApplication()"
            src="static/img/main/closeModal.svg"
            alt=""
          />
        </div>
        <form action="">
          <div class="input-container">
            <img src="static/img/main/telephone-modal.svg" alt="" />
            <input placeholder="Номер телефона" type="tel" name="" id="" />
          </div>
          <div class="input-container">
            <img src="static/img/main/user-modal.svg" alt="" />
            <input placeholder="Ваше имя" type="text" name="" id="" />
          </div>
          <div class="input-container">
            <img src="static/img/main/geo-modal.svg" alt="" />
            <input placeholder="Адрес подключения" type="text" name="" id="" />
          </div>
          <button>Отправить</button>
        </form>
      </div>
    </div>
    <script src="static/js/main.js"></script>
  </body>
</html>
