<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Профиль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/header-applications.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="header">
      <a href="/"><img src="/static/img/logoPartner.svg" alt="" /></a>
      <div class="navigate">
        <a onclick="createPage()">Создание заявки</a>
        <a onclick="sellsPage()">Мои продажи</a>
      </div>
      <div class="profileAndExit">
        <a href="">Профиль</a>
        <a href="/auth">Выход</a>
      </div>
    </div>
    <div class="container-dataProfile">
      <h1>Здравствуйте пользователь</h1>
      <div class="dataProfile">
        <div class="data">
          <span>Имя:</span>
          <input disabled value="Иван" type="text" name="" id="" />
        </div>
        <div class="data">
          <span>Фамилия:</span>
          <input disabled value="Иванов" type="text" name="" id="" />
        </div>
        <div class="data">
          <span>Отчество:</span>
          <input disabled value="Иванович" type="text" name="" id="" />
        </div>
        <div class="data">
          <span>Почта:</span>
          <input disabled value="Иван228@gmail.com" type="text" name="" id="" />
        </div>
        <div class="data">
          <span>Номер карты:</span>
          <input disabled value="1111000011110000" type="text" name="" id="" />
        </div>
        <div class="data">
          <span>Пароль:</span>
          <input disabled value="00000000" type="password" name="" id="" />
        </div>
        <div>
          <button>Изменить</button>
          <button style="display: none">Сохранить</button>
        </div>
      </div>
    </div>
  </body>
</html>
