<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wifi-on</title>
    <link rel="stylesheet" href="static/css/questions.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  </head>
  <body>
    <div class="header-cities">
      <div class="header">
        <a href="/"
          ><span class="logo">
            <svg
              width="55"
              height="55"
              viewBox="0 0 55 55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_58_208)">
                <path
                  d="M47.6089 10.4663H33.654C32.7004 10.4663 31.9097 9.67548 31.9097 8.7219C31.9097 7.76831 32.7004 6.97754 33.654 6.97754H47.6089C48.5625 6.97754 49.3532 7.76831 49.3532 8.7219C49.3532 9.67548 48.5625 10.4663 47.6089 10.4663Z"
                  fill="#292D32"
                ></path>
                <path
                  d="M40.6314 17.4438H33.654C32.7004 17.4438 31.9097 16.653 31.9097 15.6994C31.9097 14.7459 32.7004 13.9551 33.654 13.9551H40.6314C41.585 13.9551 42.3758 14.7459 42.3758 15.6994C42.3758 16.653 41.585 17.4438 40.6314 17.4438Z"
                  fill="#2A6F97"
                ></path>
                <path
                  d="M27.8395 47.6791C14.6987 47.6791 4 36.9804 4 23.8395C4 10.6987 14.6987 0 27.8395 0C28.7931 0 29.5839 0.790775 29.5839 1.74436C29.5839 2.69794 28.7931 3.48871 27.8395 3.48871C16.6059 3.48871 7.48871 12.6291 7.48871 23.8395C7.48871 35.0499 16.6059 44.1904 27.8395 44.1904C39.0732 44.1904 48.1904 35.0499 48.1904 23.8395C48.1904 22.886 48.9811 22.0952 49.9347 22.0952C50.8883 22.0952 51.6791 22.886 51.6791 23.8395C51.6791 36.9804 40.9804 47.6791 27.8395 47.6791Z"
                  fill="#013A63"
                ></path>
                <path
                  d="M52.2615 50.0046C51.8196 50.0046 51.3777 49.8418 51.0288 49.493L46.3772 44.8413C45.7027 44.1669 45.7027 43.0505 46.3772 42.376C47.0517 41.7015 48.1681 41.7015 48.8426 42.376L53.4942 47.0276C54.1687 47.7021 54.1687 48.8185 53.4942 49.493C53.1453 49.8418 52.7034 50.0046 52.2615 50.0046Z"
                  fill="#292D32"
                ></path>
              </g>
              <defs>
                <filter
                  id="filter0_d_58_208"
                  x="0"
                  y="0"
                  width="58"
                  height="58.0044"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood
                    flood-opacity="0"
                    result="BackgroundImageFix"
                  ></feFlood>
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  ></feColorMatrix>
                  <feOffset dy="4"></feOffset>
                  <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                  <feComposite in2="hardAlpha" operator="out"></feComposite>
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  ></feColorMatrix>
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_58_208"
                  ></feBlend>
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_58_208"
                    result="shape"
                  ></feBlend>
                </filter>
              </defs>
            </svg>
            <span>On-</span><span>Wi</span><span>Fi</span></span
          ></a
        >
        <div class="wrapper-navigations">
          <a href="/tariffs?city={{data['City']['Name']}}"
            ><span class="navigate">Тарифы</span></a
          >
          <a href="/reviews"><span class="navigate">Отзывы</span></a>
          <a href="/aboutUs"><span class="navigate">О нас</span></a>
          <a href="/questions"
            ><span class="navigate">Часто задаваемые вопросы</span></a
          >
          <a href="tel:+78005500792"
            ><div class="wrapper-telephone">
              <span class="navigate">+78005500792</span>
              <img src="static/img/main/telephone.svg" alt="" /></div
          ></a>
        </div>
        <div class="city-button">
          <span onclick="openModalCities()">{{data['City']['Name']}}</span>
          <button onclick="openModalApplication()" class="active-modal">
            Оставить заявку
          </button>
        </div>
      </div>

      <div class="header__mobile">
        <a href="/"
          ><span class="logo">
            <svg
              width="55"
              height="55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#a)">
                <path
                  d="M47.6 10.47H33.66c-.95 0-1.74-.8-1.74-1.75s.79-1.74 1.74-1.74h13.96c.95 0 1.74.79 1.74 1.74 0 .96-.79 1.75-1.74 1.75Z"
                  fill="#292D32"
                />
                <path
                  d="M40.63 17.44h-6.98c-.95 0-1.74-.79-1.74-1.74s.79-1.74 1.74-1.74h6.98c.95 0 1.75.79 1.75 1.74s-.8 1.74-1.75 1.74Z"
                  fill="#2A6F97"
                />
                <path
                  d="M27.84 47.68A23.87 23.87 0 0 1 4 23.84 23.87 23.87 0 0 1 27.84 0c.95 0 1.74.8 1.74 1.74 0 .96-.79 1.75-1.74 1.75A20.37 20.37 0 0 0 7.49 23.84a20.37 20.37 0 0 0 20.35 20.35 20.37 20.37 0 0 0 20.35-20.35c0-.95.8-1.74 1.74-1.74.96 0 1.75.79 1.75 1.74a23.87 23.87 0 0 1-23.84 23.84Z"
                  fill="#013A63"
                />
                <path
                  d="M52.26 50c-.44 0-.88-.16-1.23-.5l-4.65-4.66a1.75 1.75 0 0 1 0-2.46c.67-.68 1.79-.68 2.46 0l4.65 4.65c.68.67.68 1.79 0 2.46-.34.35-.79.51-1.23.51Z"
                  fill="#292D32"
                />
              </g>
              <defs>
                <filter
                  id="a"
                  x="0"
                  y="0"
                  width="58"
                  height="58"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_58_208"
                  />
                  <feBlend
                    in="SourceGraphic"
                    in2="effect1_dropShadow_58_208"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
            <span>On-</span><span>Wi</span><span>Fi</span></span
          ></a
        >
        <a href="tel:+78005500792"
          ><div class="wrapper-telephone">
            <span class="navigate">+78005500792</span>
            <img
              src="static/img/main/telephone.svg"
              alt="Иконка телефона"
            /></div
        ></a>
        <div class="menuMobile">
          <button class="btn-mobile" onclick="menuMobile()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="26"
              fill="none"
            >
              <path
                stroke="#000"
                stroke-width="6"
                d="M0 3h24M0 13h24M0 23h24"
              />
            </svg>
          </button>
          <div class="wrapper__mobile" id="mobileMenu">
            <a href="/tariffs?city={{data['City']['Name']}}"
              ><span class="navigate navigate-mobile">Тарифы</span></a
            >
            <a href="/reviews"
              ><span class="navigate navigate-mobile">Отзывы</span></a
            >
            <a href="/aboutUs"
              ><span class="navigate navigate-mobile">О нас</span></a
            >
            <a href="/questions"
              ><span class="navigate navigate-mobile">Вопросы</span></a
            >
            <div class="city-button">
              <span onclick="openModalCities()">{{data['City']['Name']}}</span>
              <button onclick="openModalApplication()" class="active-modal">
                Оставить заявку
              </button>
            </div>
          </div>
        </div>
      </div>

      <div style="display: none" id="cities" class="cities">
        <span>Города в которых мы есть</span>
        <div class="wrapper-all-cities">
          {% for city in data['Cities'] %} {% if city|length == 1 %}
          <h1>{{ city[0] }}</h1>
          {% else %}
          <a href="https://{{ city[1] }}.on-wifi.ru">{{ city[0] }}</a>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>

    <div class="aboutUs">
      <div class="aboutUs-wrapper">
        <div class="fact">
          <span>Какая скорость интернета мне нужна?</span>
          <span
            >Для эффективного проведения стриминга, игр, загрузки файлов и
            проведения онлайн-видеозвонков с минимальными задержками и
            буферизацией, вам потребуется скорость загрузки не менее 25 Мбит/с и
            скорость выгрузки не менее 3 Мбит/с. Однако, если вы живете с троими
            или более людьми, вам лучше выбрать скорость загрузки 100 Мбит/с и
            скорость выгрузки 10 Мбит/с, чтобы поддерживать больше пользователей
            и задач, требующих большей полосы пропускания.</span
          >
        </div>
        <div class="fact">
          <span>Какой интернет самый быстрый?</span>
          <span
            >Оптоволоконный интернет является самым быстрым типом подключения к
            интернету. Он использует кабели из связанных оптоволоконных волокон
            для передачи больших объемов данных с помощью световых сигналов.
            Большинство тарифных планов по оптоволоконному интернету
            предоставляют скорость 1,000 Мбит/с, хотя некоторые поставщики могут
            предложить скорости до 2,000 Мбит/с или даже 5,000 Мбит/с.
            Оптоволокно также единственный тип интернета, предоставляющий
            симметричные скорости выгрузки, поэтому ваша загрузка будет такой же
            быстрой, как и скачивание.
          </span>
        </div>
        <div class="fact">
          <span>Почему мой интернет такой медленный?</span>
          <span
            >Ваш интернет может работать медленно по многим причинам. Возможно,
            ваш тарифный план интернета слишком медленный для ваших
            потребностей, ваш модем или маршрутизатор может быть устаревшим, ваш
            маршрутизатор может быть неисправным, или слишком много людей
            одновременно использует вашу беспроводную сеть Wi-Fi.</span
          >
        </div>
        <div class="fact">
          <span>Как сделать мой интернет быстрее?</span>
          <span
            >Вы можете улучшить скорость вашего интернета, перейдя на более
            быстрый тарифный план, обновив ваше оборудование или приняв более
            простые меры, такие как закрытие приложений и окон браузера.</span
          >
        </div>
      </div>
      <svg
        width="465"
        height="1000"
        viewBox="0 0 722 1385"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M301.286 191.742C291.241 170.616 286.972 146.881 294.958 123.706C317.967 56.9339 408.686 97.2874 417.91 136.572C427.134 175.856 401.6 262.393 376.14 262.15C365.986 262.053 347.36 250.635 330.094 232.706L318.518 327.61L242.199 307.161L301.286 191.742Z"
          fill="#D4A181"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M328.982 194.034C314.65 209.664 297.896 219.837 284.819 216.334C259.982 209.678 251.22 171.739 260.786 136.036C261.122 134.782 261.481 133.542 261.862 132.318C230.757 143.308 200.986 173.421 166.221 164.106C118.925 151.433 125.703 51.0019 191.783 68.708C236.723 80.7495 257.072 93.2249 273.527 108.019C280.123 98.4327 288.238 91.062 296.911 86.72C299.104 85.2743 302.175 84.1514 305.959 83.3618C308.296 82.7928 310.648 82.4498 312.999 82.3472C325.62 81.2035 343.059 82.6846 361.822 87.0163C365.325 87.8252 368.744 88.7031 372.057 89.6389C376.805 72.1373 394.821 61.7638 412.35 66.4606C429.912 71.1664 440.335 89.2182 435.629 106.78C431.078 123.765 414.045 134.071 397.044 130.475C386.663 130.864 373.762 129.736 359.855 126.991C359.844 132.334 359.047 138.194 357.331 144.598C355.816 150.252 353.585 156.082 350.804 161.863C348.785 157.547 345.439 154.187 341.417 153.109C330.168 150.095 319.858 157.251 317.225 167.077C313.884 179.547 318.666 190.497 328.982 194.034Z"
          fill="#E0C68E"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M144.853 598.187L265.445 1013.74L322.166 1325.74H379.096L322.267 598.187H144.853Z"
          fill="#BA8B72"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.6568 598.187C99.0713 814.064 95.7527 931.809 93.8695 951.423C91.9862 971.036 81.2947 1102.39 8.4397 1332.33H67.6524C164.137 1111.74 197.819 980.388 208.885 951.423C219.951 922.458 252.634 804.712 300.349 598.187H90.6568Z"
          fill="#D4A181"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M142.264 598.187C173.632 741.18 227.885 969.432 305.023 1282.94H388.291C394.441 961.154 368.278 749.362 322.971 598.187H142.264Z"
          fill="#1A1A1A"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M90.2362 598.187C98.4772 814.064 77.1203 1026.74 10.9644 1286.31H99.806C196.468 1069.02 265.748 857.386 313.097 598.187H90.2362Z"
          fill="#1A1A1A"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 1375.12L3.26716 1322.45C22.3959 1328.04 46.3551 1325.85 75.1446 1315.87C106.1 1337.79 145.07 1352.77 192.052 1360.78C195.637 1361.4 198.047 1364.8 197.435 1368.38C197.395 1368.61 197.343 1368.84 197.279 1369.07L192.762 1385H75.1446H6.53431L0 1375.12Z"
          fill="#0A496E"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M309.458 1375.12L312.725 1322.45C331.854 1328.04 355.813 1325.85 384.602 1315.87C415.558 1337.79 454.527 1352.77 501.51 1360.78C505.094 1361.4 507.504 1364.8 506.893 1368.38C506.853 1368.61 506.801 1368.84 506.737 1369.07L502.22 1385H384.602H315.992L309.458 1375.12Z"
          fill="#0A496E"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M380.406 413.117L503.806 371.326C526.438 352.404 547.919 338.396 568.25 329.304C574.208 327.965 584.161 328.274 572.244 342.783C560.327 357.292 548.445 373.09 552.194 378.868C555.942 384.647 568.695 379.747 572.758 388.965C575.466 395.111 554.236 400.322 509.068 404.598L414.098 465.048L380.406 413.117ZM547.483 496.196L601.702 477.758C613.291 452.589 623.924 440.772 633.599 442.308C641.617 440.167 622.832 471.239 637.389 470.824C651.946 470.409 690.728 450.955 695.723 457.174C703.112 466.375 691.172 488.52 679.927 498.601C658.91 517.441 643.383 522.413 606.538 526.013C587.273 527.895 565.611 534.657 541.552 546.298L547.483 496.196Z"
          fill="#D4A181"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M328.023 389.724C367.513 396.257 421.542 397.2 483.903 371.49L497.267 424.491C451.813 456.061 391.856 478.013 344.53 468.291C307.234 460.63 296.072 411.915 328.023 389.724Z"
          fill="#2A6F97"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M367.208 477.852C407.213 495.666 479.554 495.732 584.232 478.051C599.751 532.903 604.691 570.929 599.053 592.128C506.773 621.367 430.883 628.276 370.988 619.054C366.642 654.792 356.393 687.719 336.49 715.947C295.572 773.979 131.644 684.648 71.0184 685.852C55.3379 560.22 134.822 524.303 148.323 448.066C163.109 364.579 252.816 247.877 262.68 249.617L352.638 265.479C346.357 330.123 358.948 404.806 367.208 477.852Z"
          fill="#2A6F97"
        ></path>
      </svg>
    </div>

    <div class="footer">
      <div class="wrapper-footer-a">
        <a href="/tariffs?city={{data['City']['Name']}}">Тариф</a>
        <a href="/reviews">Отзывы клиентов</a>
        <a href="/aboutUs">О нас</a>
        <a href="/questions">Часто задаваемые вопросы</a>
      </div>
      <div class="footer-logo">
        <span>On-</span><span>Wi</span><span>Fi</span>
      </div>
      <span class="footer-title">© 2023 On-WiFi. Все права защищены.</span>
    </div>

    <div id="modal" class="modals-inactive">
      <div class="modals">
        <div class="modals-header">
          <p>Оставить заявку</p>
          <img
            onclick="closeModalApplication()"
            src="static/img/main/closeModal.svg"
            alt=""
          />
        </div>
        <form action="">
          <div class="input-container">
            <img src="static/img/main/telephone-modal.svg" alt="" />
            <input placeholder="Номер телефона" type="tel" name="" id="" />
          </div>
          <div class="input-container">
            <img src="static/img/main/user-modal.svg" alt="" />
            <input placeholder="Ваше имя" type="text" name="" id="" />
          </div>
          <div class="input-container">
            <img src="static/img/main/geo-modal.svg" alt="" />
            <input placeholder="Адрес подключения" type="text" name="" id="" />
          </div>
          <button>Отправить</button>
        </form>
      </div>
    </div>

    <script src="static/js/questions.js"></script>
  </body>
</html>
