<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Восстановление пароля</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/recovery.css" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <img src="/static/img/logoPartner.svg" alt="" />
      <div class="emailInput" id="emailDiv" >
        <span>Введите почту для восстановления</span>
        <input placeholder="Почта" type="email" id="emailInput"/>
        <span id="incorrectEmail" style="display: none; color: red;">Пользователя с такой почтой не существует</span>
        <button onclick="SendRecoveryEmail()" id="sendEmailButton">Отправить код восстановления</button>
      </div>
      <div class="codeRecovery" id="codeDiv" style="display: none">
        <span>Введите код восстановления</span>
        <input placeholder="Введите код" type="text" id="recoveryCodeInput"/>
        <span id="codesUnmatched" style="display: none; color: red;">Неверный код</span>
        <button onclick="TryCode()" id="TryCodeButton">Восстановить аккаунт</button>
      </div>
      <div class="ChangePassword" id="ChangePasswordDiv" style="display: none">
        <span>Новый пароль</span>
        <input placeholder="Пароль" type="password" id="passwordInput"/>
        <span>Повтор пароля</span>
        <input placeholder="Пароль" type="password" id="passwordInput2"/>
        <span id="passwordsUnmatched" style="display: none; color: red;">Пароли не совпадают</span>
        <button onclick="UpdatePassword()" id="UpdatePasswordButton">Войти в аккаунт</button>
      </div>
    </div>
    <script src="/static/js/recovery.js"></script>
  </body>
</html>
