<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тарифы</title>
    <link rel="stylesheet" href="static/css/tariffs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1"></script>
  </head>
  <body>
    <div class="header-cities">
      <div class="header">
        <a href=""
          ><span class="logo">
            <svg
              width="55"
              height="55"
              viewBox="0 0 55 55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_58_208)">
                <path
                  d="M47.6089 10.4663H33.654C32.7004 10.4663 31.9097 9.67548 31.9097 8.7219C31.9097 7.76831 32.7004 6.97754 33.654 6.97754H47.6089C48.5625 6.97754 49.3532 7.76831 49.3532 8.7219C49.3532 9.67548 48.5625 10.4663 47.6089 10.4663Z"
                  fill="#292D32"
                ></path>
                <path
                  d="M40.6314 17.4438H33.654C32.7004 17.4438 31.9097 16.653 31.9097 15.6994C31.9097 14.7459 32.7004 13.9551 33.654 13.9551H40.6314C41.585 13.9551 42.3758 14.7459 42.3758 15.6994C42.3758 16.653 41.585 17.4438 40.6314 17.4438Z"
                  fill="#2A6F97"
                ></path>
                <path
                  d="M27.8395 47.6791C14.6987 47.6791 4 36.9804 4 23.8395C4 10.6987 14.6987 0 27.8395 0C28.7931 0 29.5839 0.790775 29.5839 1.74436C29.5839 2.69794 28.7931 3.48871 27.8395 3.48871C16.6059 3.48871 7.48871 12.6291 7.48871 23.8395C7.48871 35.0499 16.6059 44.1904 27.8395 44.1904C39.0732 44.1904 48.1904 35.0499 48.1904 23.8395C48.1904 22.886 48.9811 22.0952 49.9347 22.0952C50.8883 22.0952 51.6791 22.886 51.6791 23.8395C51.6791 36.9804 40.9804 47.6791 27.8395 47.6791Z"
                  fill="#013A63"
                ></path>
                <path
                  d="M52.2615 50.0046C51.8196 50.0046 51.3777 49.8418 51.0288 49.493L46.3772 44.8413C45.7027 44.1669 45.7027 43.0505 46.3772 42.376C47.0517 41.7015 48.1681 41.7015 48.8426 42.376L53.4942 47.0276C54.1687 47.7021 54.1687 48.8185 53.4942 49.493C53.1453 49.8418 52.7034 50.0046 52.2615 50.0046Z"
                  fill="#292D32"
                ></path>
              </g>
              <defs>
                <filter
                  id="filter0_d_58_208"
                  x="0"
                  y="0"
                  width="58"
                  height="58.0044"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood
                    flood-opacity="0"
                    result="BackgroundImageFix"
                  ></feFlood>
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  ></feColorMatrix>
                  <feOffset dy="4"></feOffset>
                  <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                  <feComposite in2="hardAlpha" operator="out"></feComposite>
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  ></feColorMatrix>
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_58_208"
                  ></feBlend>
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_58_208"
                    result="shape"
                  ></feBlend>
                </filter>
              </defs>
            </svg>
            <span>On-</span><span>Wi</span><span>Fi</span></span
          ></a
        >
        <div class="wrapper-navigations">
          <a href=""><span class="navigate">Тарифы</span></a>
          <a href=""><span class="navigate">Отзывы</span></a>
          <a href=""><span class="navigate">О нас</span></a>
          <a href=""><span class="navigate">Часто задаваемые вопросы</span></a>
          <a href=""
            ><div class="wrapper-telephone">
              <span class="navigate">+78005500792</span>
              <img src="static/img/main/telephone.svg" alt="" /></div
          ></a>
        </div>
        <div class="city-button">
          <span onclick="openModalCities()">Город</span>
          <button onclick="openModalApplication()" class="active-modal">
            Оставить заявку
          </button>
        </div>
      </div>
      <div style="display: none" id="cities" class="cities">
        <span>Города в которых мы есть</span>
        <div class="wrapper-all-cities">
          <div class="wrapper-cities">
            <a href="">Москва</a>
            <a href="">Санкт-Петербург</a>
            <a href="">Новосибирск</a>
            <a href="">Екатеринбург</a>
            <a href="">Нижний Новгород</a>
            <a href="">Казань</a>
            <a href="">Самара</a>
            <a href="">Челябинск</a>
            <a href="">Омск</a>
            <a href="">Ростов-на-Дону</a>
            <a href="">Уфа</a>
            <a href="">Пермь</a>
            <a href="">Сургут</a>
          </div>
          <div class="wrapper-cities">
            <a href="">Махачкала</a>
            <a href="">Оренбург</a>
            <a href="">Томск</a>
            <a href="">Новокузнецк</a>
            <a href="">Кемерово</a>
            <a href="">Астрахань</a>
            <a href="">Рязань</a>
            <a href="">Набережные</a>
            <a href="">Челны</a>
            <a href="">Пенза</a>
            <a href="">Липецк </a>
            <a href="">Тула</a>
          </div>
          <div class="wrapper-cities">
            <a href="">Волгоград</a>
            <a href="">Воронеж</a>
            <a href="">Саратов</a>
            <a href="">Краснодар</a>
            <a href="">Тольятти</a>
            <a href="">Тюмень</a>
            <a href="">Ижевск</a>
            <a href="">Барнаул</a>
            <a href="">Ульяновск</a>
            <a href="">Иркутск</a>
            <a href="">Владивосток</a>
            <a href="">Ярославль</a>
          </div>
          <div class="wrapper-cities">
            <a href="">Хабаровск</a>
            <a href="">Киров</a>
            <a href="">Чебоксары</a>
            <a href="">Калининград</a>
            <a href="">Курск</a>
            <a href="">Улан-Удэ</a>
            <a href="">Ставрополь</a>
            <a href="">Магнитогорск</a>
            <a href="">Тверь</a>
            <a href="">Иваново</a>
            <a href="">Брянск</a>
            <a href="">Сочи</a>
            <a href="">Белгород</a>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-cards">
      <div class="filters">
        <div class="filter">
          <span class="filter-name">Тарифы</span>
          <div class="filter-params">
            <div class="param">
              <input type="checkbox" name="" id="" />
              <span>Интернет + ТВ</span>
            </div>
            <div class="param">
              <input type="checkbox" name="" id="" />
              <span>Интернет</span>
            </div>
            <div class="param">
              <input type="checkbox" name="" id="" />
              <span>Интернет + Связь + ТВ</span>
            </div>
            <div class="param">
              <input type="checkbox" name="" id="" />
              <span>ТВ</span>
            </div>
          </div>
        </div>
        <div class="filter">
          <span class="filter-name">Провайдеры</span>
          <div class="filter-params">
            {% for provider in data['providers'] %}
            <div class="param">
              <input type="checkbox" class="providersFilterCheckbox" name="{{ provider['NameEng'] }}" id="{{ provider['NameEng'] }}" onchange="CheckTariffs()" />
              <label for="{{ provider['NameEng'] }}">{{ provider['Name'] }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
        
        <div class="filter">
          <span class="filter-name">Провайдеры</span>
          <div class="slider">
            <input class="slider-numbers" type="number" name="" id="" />
            <input type="range" name="" id="" />
            <input class="slider-numbers" type="number" name="" id="" />
          </div>
        </div>
        <div class="filter">
          <span class="filter-name">Скорость интернета</span>
          <div class="slider">
            <input class="slider-numbers" type="number" name="" id="" />
            <input type="range" name="" id="" />
            <input class="slider-numbers" type="number" name="" id="" />
          </div>
        </div>
      </div>
      <div class="cards" id="tariffs">
        {% for tariff in data['tariffs'] %}
        <div class="card-tariff" data-id = "{{tariff['id']}}" data-Name = "{{tariff['Name']}}" data-NameEng = "{{tariff['NameEng']}}" data-price="{{tariff['Price']}}" data-provider="{{tariff['Provider']['NameEng']}}" {% if tariff['Options']['Values']['InternetSpeed'] %} data-internetSpeed="{{tariff['Options']['Values']['InternetSpeed'][0]}}"{% endif %}>
          <div class="card-tariff-header">
            <span>{{tariff["Name"]}}</span>
          </div>
          <div class="card-tariff-body">
            <div class="wrapper-priceAndLogo">
              
              <span>{% if tariff['PriceOld'] and tariff['PriceOld'] != 0 %}{{tariff['PriceOld']}} руб{% endif %}</span>
              
              <span>{{tariff['Price']}} руб</span>
              
              <img src="static/img/main/{{tariff['Provider']['ImageUrl']}}" alt="" />
            </div>
            <div class="params">
              <div class="param">
                {% if tariff['Options']['Values']['InternetSpeed'] %}
                <img src="static/img/main/inet35px.png" alt="" />
                <span>{{tariff['Options']['Values']['InternetSpeed'][0]}} {{tariff['Options']['Values']['InternetSpeed'][1]}}</span>
                {% endif %}
              </div>
              <div class="param">
                {% if tariff['Options']['Values']['ChannelsCount'] %}
                <img src="static/img/main/tv35px.png" alt="" />
                <span>{{tariff['Options']['Values']['ChannelsCount'][0]}} {{tariff['Options']['Values']['ChannelsCount'][1]}}</span>
                {% endif %}
              </div>
              <div class="param">
                {% if tariff['Options']['Values']['GigabytesCount'] %}
                <img src="static/img/main/mob35px.png" alt="" />
                <span>{{tariff['Options']['Values']['GigabytesCount'][0]}} {{tariff['Options']['Values']['GigabytesCount'][1]}}</span>
                {% endif %}
              </div>
            </div>
            <div class="conn-info">
              <button>Подключить</button>
              <a href=""><span>Узнать подробнее</span></a>
            </div>
          </div>
          
        </div>
        {%endfor%}
      </div>
    </div>
    <div class="footer">
      <div class="wrapper-footer-a">
        <a href="">Тариф</a>
        <a href="">Отзывы клиентов</a>
        <a href="">О нас</a>
        <a href="">Часто задаваемые вопросы</a>
      </div>
      <div class="footer-logo">
        <span>On-</span><span>Wi</span><span>Fi</span>
      </div>
      <span class="footer-title">© 2023 On-WiFi. Все права защищены.</span>
    </div>

    <div id="modal" class="container-modals">
      <div class="modals">
        <div class="modals-header">
          <p>Оставить заявку</p>
          <img
            onclick="closeModalApplication()"
            src="static/img/main/closeModal.svg"
            alt=""
          />
        </div>
        <form action="">
          <div class="input-container">
            <img src="static/img/main/telephone-modal.svg" alt="" />
            <input placeholder="Номер телефона" type="tel" name="" id="" />
          </div>
          <div class="input-container">
            <img src="static/img/main/user-modal.svg" alt="" />
            <input placeholder="Ваше имя" type="text" name="" id="" />
          </div>
          <div class="input-container">
            <img src="static/img/main/geo-modal.svg" alt="" />
            <input placeholder="Адрес подключения" type="text" name="" id="" />
          </div>
          <button>Отправить</button>
        </form>
      </div>
    </div>
  </body>

  <script src="static/js/tariffs.js"></script>
</html>
