<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Tektur:wght@400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/tariffs.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/cardTariff.css" />
    <link rel="stylesheet" href="/static/css/modals.css" />
    <title>Тарифы</title>
  </head>
  <body onload="CheckTariffs()">
    <div class="blue-blur">
      <div id="blue-blur-1"></div>
      <div id="blue-blur-2"></div>
      <div id="blue-blur-3"></div>
    </div>
    <div class="header">
      <a href="" class="logo">ON-WiFi</a>
      <div>
        <a href="">Тарифы</a>
        <a>FAQ</a>
        <a>Полулярные</a>
        <a>Контакты</a>
      </div>
    </div>
    <div class="filtersAndTariff">
      <div class="filters">
        <div class="filters-header">
          <span>Фильтр</span>
          <img src="/static/img/filtersIcon.svg" alt="" />
        </div>
        <div class="filters-body">
          <div class="filter-inputRange">
            <div class="filter-price-header">
              <span>Цена</span>
              <img src="/static/img/filterIcon.svg" alt="" />
            </div>
            <div class="filter-price-body">
              <div class="header-inputRange">
                <input
                  class="inputNumber"
                  type="number"
                  name=""
                  id="inputNumber11"
                  onchange="CheckTariffs()"
                />
                <div class="lineForNumbers"></div>
                <input
                  class="inputNumber"
                  type="number"
                  name=""
                  id="inputNumber12"
                  onchange="CheckTariffs()"
                />
              </div>
              <div
                class="body-inputRange"
                data-min="{{data['mintariffprice']}}"
                data-max="{{data['maxtariffprice']}}"
                id="inputRange1"
                onchange="CheckTariffs()"
              ></div>
            </div>
            <div class="filter-inputRange">
              <div class="filter-price-header">
                <span>Скорость интернета (Мбит./C.)</span>
                <img src="/static/img/filterIcon.svg" alt="" />
              </div>
              <div class="filter-price-body">
                <div class="header-inputRange">
                  <input
                    class="inputNumber"
                    type="number"
                    name=""
                    id="inputNumber21"
                    onchange="CheckTariffs()"
                  />
                  <div class="lineForNumbers"></div>
                  <input
                    class="inputNumber"
                    type="number"
                    name=""
                    id="inputNumber22"
                    onchange="CheckTariffs()"
                  />
                </div>
                <div
                  class="body-inputRange"
                  data-min="{{data['mintariffinternetspeed']}}"
                  data-max="{{data['maxtariffinternetspeed']}}"
                  id="inputRange2"
                  onchange="CheckTariffs()"
                ></div>
              </div>
            </div>
          </div>
          <div class="wrapper-filters">
            <div class="filter">
              <div class="filter-header">
                <span>Провайдеры</span>
                <img src="/static/img/filterIcon.svg" alt="" />
              </div>
              <div class="filter-body">
                {% for provider in data['providers'] %}
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input class="provider-checkbox" type="checkbox" id="{{provider['id']}}" name="{{provider['Name']}}" onchange="CheckTariffs()"/>
                    <label for="{{provider['id']}}"></label>
                  </div>
                  <span>{{provider['Name']}}</span>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="filter">
              <div class="filter-header">
                <span>Опции</span>
                <img src="/static/img/filterIcon.svg" alt="" />
              </div>
              <div class="filter-body">
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input type="checkbox" class="OptionCheckbox" id="InternetCheckbox" name="internetspeed" onchange="CheckTariffs()"/>
                    <label for="InternetCheckbox"></label>
                  </div>
                  <span>Интернет</span>
                </div>
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input type="checkbox" class="OptionCheckbox" id="TVCheckbox" name="channels" onchange="CheckTariffs()"/>
                    <label for="TVCheckbox"></label>
                  </div>
                  <span>Тв</span>
                </div>
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input type="checkbox" class="OptionCheckbox" id="MobileCheckbox" name="mobile" onchange="CheckTariffs()"/>
                    <label for="MobileCheckbox"></label>
                  </div>
                  <span>Мобильный</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tariff">
        <div class="wrapper-tariffs" id="tariffs">
          {% for tariff in data['tariffs'] %}
              <div class="card" id="{{data['tariffs'].index(tariff)}}" 
              data-provider="{{tariff['Provider']['Name']}}" 
              data-price="{{tariff['Price']}}"
              {% if tariff['Options']['Internet'] %}
              data-internetspeed="{{tariff['Options']['Internet']['InternetSpeed']}}"
              {%endif%}
              {% if tariff['Options']['TV'] %}
              data-channels="{{tariff['Options']['TV']['Channels']}}"
              {%endif%}
              {%if tariff['Options']['Mobile'] %}
              data-mobile="{{tariff['Options']['Mobile']['гигабайт']}}"
              {%endif%}
              >
                {% if tariff['PriceOld'] %}
                <div class="header-card">
                  <span>Акция</span>
                </div>
                {% endif %}
                <div class="body-card">
                  <div class="nameAndImg">
                    <span>{{tariff['Name']}}</span>
                    <img src="/static/img/{{tariff['Provider']['ImageUrl']}}" alt="" />
                  </div>
                  <div class="paramsTariff">
                    {% if tariff['Options']['Internet'] %}
                    <div class="paramTariff">
                      <img src="/static/img/speedInternetTariff.svg" alt="" />
                      <span>{{tariff['Options']['Internet']['InternetSpeed']}} мбит./с.</span>
                      {% if tariff['Options']['Internet']['Router'] %}
                      <img src="/static/img/routerTariff.svg" alt="" />
                      <span>Роутер:<br/>{{tariff['Options']['Internet']['Router']}}</span>
                      {%endif%}
                    </div>
                    {%endif%}
                    {% if tariff['Options']['TV'] %}
                    <div class="paramTariff">
                      <img src="/static/img/channelsTariff.svg" alt="" />
                      <span>{{tariff['Options']['TV']['Channels']}}</span>
                      {% if tariff['Options']['TV']['TvBox'] %}
                      <img src="/static/img/routerTariff.svg" alt="" />
                      <span>Тв приставка:<br/>{{tariff['Options']['TV']['TvBox']}}</span>
                      {%endif%}
                    </div>
                    {% endif %}
                    {% if tariff['Options']['Mobile'] %}
                    <div class="paramTariff">
                      <img src="/static/img/mobileTariff.svg" alt="" />
                      <span>{%if tariff['Options']['Mobile']['гигабайт']%}{{tariff['Options']['Mobile']['гигабайт']}}Гб  {%endif%}{%if tariff['Options']['Mobile']['минут']%}| {{tariff['Options']['Mobile']['минут']}} минут {%endif%}{%if tariff['Options']['Mobile']['смс']%}| {{tariff['Options']['Mobile']['смс']}} смс{%endif%}</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="footer-card">
                  <div class="textAndImg">
                    <span>Comparing to</span>
                    <img src="/static/img/priceTariff.svg" alt="" />
                  </div>
                  <div class="twoPrice">
                    <span>{{tariff['Price']}}</span>
                    {%if tariff['PriceOld'] %}
                    <span>{{tariff['PriceOld']}}</span>
                    {%endif%}
                  </div>
                </div>
                <button>Подключить</button>
            </div>
            {% endfor %}
        </div>
        <div class="navigate-tariffs">
          <button>Открыть все</button>
          <div class="pages">
            <img src="/static/img/previousPage.svg" alt="" />
            <div class="group-pages">
              <div class="pageNumber">1</div>
              <div class="pageNumber">2</div>
              <div class="pageNumber">3</div>
              <div class="pageNumber">4</div>
              <div class="pageNumber">5</div>
              <div class="pageNumber">6</div>
              <div class="pageNumber">7</div>
            </div>
            <img src="/static/img/nextPage.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div id="feedback" class="feedback">
      <div class="typeRooms">
        <button class="active-typeRoom">Подключение в квартиру</button>
        <button class="unactive-typeRoom">Подключение в офис</button>
        <button class="unactive-typeRoom">Подкючение в частный дом</button>
      </div>
      <div class="data-feedback">
        <div class="inputs-data-feedback">
          <input class="validInput" placeholder="Ваше имя" type="text" />
          <input
            class="validInput"
            placeholder="Ваш номер телефона"
            type="text"
          />
          <textarea
            class="validInput"
            placeholder="Адрес подключения"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="checkAndSubmit">
          <div class="checkAndText">
            <div class="custom-checkbox">
              <input type="checkbox" id="myCheckbox" />
              <label for="myCheckbox"></label>
            </div>
            <span>Соглашение на обработку персональных данных</span>
          </div>
          <button disabled>Отправить</button>
        </div>
      </div>
    </div>
    <div id="footer" class="footer">
      <a href="" class="logo">ON-WiFi</a>

      <div class="numberAndMedia">
        <a href="tel:+78005500792"><span>&phone; +78005500792</span></a>
        <span>Бесплатная консультация Ежедневно с 9 до 22 часов</span>
        <div class="group-logo">
          <a href="https://t.me/on_wifi_bot"
            ><img src="/static/img/telegram50px.svg" alt=""
          /></a>
          <a href="https://wa.me/79526896473"
            ><img src="/static/img/whatsapp50px.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/tariffs.js"></script>
  </body>
</html>
