<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Tektur:wght@400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/tariffs.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/cardTariff.css" />
    <link rel="stylesheet" href="/static/css/modals.css" />
    <link rel="stylesheet" href="/static/css/questions.css" />
    <title>Тарифы</title>
  </head>
  <body onload="CheckTariffs(1)">
    <div class="blue-blur">
      <div id="blue-blur-1"></div>
      <div id="blue-blur-2"></div>
      <div id="blue-blur-3"></div>
      <div id="blue-blur-4"></div>
      <div id="blue-blur-5"></div>
      <div id="blue-blur-6"></div>
    </div>
    <div class="header">
      <a href="https://{{data['host']}}/" class="logo">ON-WiFi</a>
      <div>
        <a href="">Тарифы</a>
        <a>FAQ</a>
        <a>Контакты</a>
      </div>
    </div>
    <div class="filtersAndTariff">
      <div class="filters">
        <div class="filters-header">
          <span>Фильтр</span>
          <img src="/static/img/filtersIcon.svg" alt="" />
        </div>
        <div class="filters-body filterActive">
          <div class="filter-inputRange">
            <div class="filter-price-header">
              <span>Цена</span>
              <img src="/static/img/filterIcon.svg" alt="" />
            </div>
            <div class="filter-price-body filterActive">
              <div class="header-inputRange">
                <input
                  class="inputNumber"
                  type="number"
                  name=""
                  id="inputNumber11"
                  onchange="CheckTariffs()"
                />
                <div class="lineForNumbers"></div>
                <input
                  class="inputNumber"
                  type="number"
                  name=""
                  id="inputNumber12"
                  onchange="CheckTariffs()"
                />
              </div>
              <div
                class="body-inputRange"
                data-min="{{data['mintariffprice']}}"
                data-max="{{data['maxtariffprice']}}"
                id="inputRange1"
                onchange="CheckTariffs()"
              ></div>
            </div>
          </div>
          <div class="filter-inputRange">
            <div class="filter-price-header">
              <span>Скорость интернета (Мбит./C.)</span>
              <img src="/static/img/filterIcon.svg" alt="" />
            </div>
            <div class="filter-price-body filterActive">
              <div class="header-inputRange">
                <input
                  class="inputNumber"
                  type="number"
                  name=""
                  id="inputNumber21"
                  onchange="CheckTariffs()"
                />
                <div class="lineForNumbers"></div>
                <input
                  class="inputNumber"
                  type="number"
                  name=""
                  id="inputNumber22"
                  onchange="CheckTariffs()"
                />
              </div>
              <div
                class="body-inputRange"
                data-min="{{data['mintariffinternetspeed']}}"
                data-max="{{data['maxtariffinternetspeed']}}"
                id="inputRange2"
                onchange="CheckTariffs()"
              ></div>
            </div>
          </div>
          <div class="wrapper-filters">
            <div class="filter">
              <div class="filter-header">
                <span>Провайдеры</span>
                <img src="/static/img/filterIcon.svg" alt="" />
              </div>
              <div class="filter-body filterActive">
                {% for provider in data['providers'] %}
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input class="provider-checkbox" type="checkbox" id="{{provider['id']}}" name="{{provider['Name']}}" onchange="CheckTariffs()"/>
                    <label for="{{provider['id']}}"></label>
                  </div>
                  <span>{{provider['Name']}}</span>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="filter">
              <div class="filter-header">
                <span>Опции</span>
                <img src="/static/img/filterIcon.svg" alt="" />
              </div>
              <div class="filter-body filterActive">
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input type="checkbox" class="OptionCheckbox" id="InternetCheckbox" name="internetspeed" onchange="CheckTariffs()"/>
                    <label for="InternetCheckbox"></label>
                  </div>
                  <span>Интернет</span>
                </div>
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input type="checkbox" class="OptionCheckbox" id="TVCheckbox" name="channels" onchange="CheckTariffs()"/>
                    <label for="TVCheckbox"></label>
                  </div>
                  <span>Тв</span>
                </div>
                <div class="checkboxAndText">
                  <div class="custom-checkbox">
                    <input type="checkbox" class="OptionCheckbox" id="MobileCheckbox" name="mobile" onchange="CheckTariffs()"/>
                    <label for="MobileCheckbox"></label>
                  </div>
                  <span>Мобильный</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tariff">
        <div class="noTariff" id="noTariff">
          <span>Мы не нашли для вас подходящих тарифов :( </span>
          <span>Свяжитесь с нами для уточнения информации.</span>
          <span>&phone; +78005500792</span>
        </div>
        <div class="wrapper-tariffs" id="tariffs">
        </div>
        <div class="navigate-tariffs">
          <div class="pages">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none" onclick="ChangePageLeft()">
              <rect width="44.6465" height="44.6465" rx="5" transform="matrix(-1 0 0 1 44.7754 0.298828)" fill="white" fill-opacity="0.1"/>
              <path d="M28.2429 32.0512C28.3372 32.1455 28.4119 32.2574 28.463 32.3806C28.514 32.5038 28.5402 32.6358 28.5402 32.7691C28.5402 32.9024 28.514 33.0344 28.463 33.1576C28.4119 33.2808 28.3372 33.3927 28.2429 33.487C28.1486 33.5813 28.0367 33.6561 27.9135 33.7071C27.7903 33.7581 27.6583 33.7844 27.525 33.7844C27.3917 33.7844 27.2596 33.7581 27.1365 33.7071C27.0133 33.6561 26.9014 33.5813 26.8071 33.487L16.6601 23.3401C16.5658 23.2458 16.491 23.1339 16.4399 23.0107C16.3888 22.8875 16.3625 22.7555 16.3625 22.6222C16.3625 22.4888 16.3888 22.3568 16.4399 22.2336C16.491 22.1104 16.5658 21.9985 16.6601 21.9043L26.8071 11.7573C26.9975 11.5669 27.2557 11.46 27.525 11.46C27.7942 11.46 28.0525 11.5669 28.2429 11.7573C28.4333 11.9477 28.5402 12.206 28.5402 12.4752C28.5402 12.7445 28.4333 13.0027 28.2429 13.1931L18.8126 22.6222L28.2429 32.0512Z" fill="white"/>
            </svg>
            <div class="group-pages" id="pagesGroup">
              <button class="pageNumber activePage">1</button>
              <button class="pageNumber unactivePage">2</button>
              <button class="pageNumber unactivePage">3</button>
              <button class="pageNumber unactivePage">4</button>
              <button class="pageNumber unactivePage">5</button>
              <button class="pageNumber unactivePage">6</button>
              <button class="pageNumber unactivePage">7</button>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="45" viewBox="0 0 46 45" fill="none" onclick="ChangePageRight()">
              <rect x="0.956604" y="0.298828" width="44.6465" height="44.6465" rx="5" fill="white" fill-opacity="0.1"/>
              <path d="M17.4891 32.0512C17.3948 32.1455 17.32 32.2574 17.269 32.3806C17.218 32.5038 17.1917 32.6358 17.1917 32.7691C17.1917 32.9024 17.218 33.0344 17.269 33.1576C17.32 33.2808 17.3948 33.3927 17.4891 33.487C17.5833 33.5813 17.6953 33.6561 17.8184 33.7071C17.9416 33.7581 18.0736 33.7844 18.207 33.7844C18.3403 33.7844 18.4723 33.7581 18.5955 33.7071C18.7187 33.6561 18.8306 33.5813 18.9249 33.487L29.0718 23.3401C29.1661 23.2458 29.241 23.1339 29.292 23.0107C29.3431 22.8875 29.3694 22.7555 29.3694 22.6222C29.3694 22.4888 29.3431 22.3568 29.292 22.2336C29.241 22.1104 29.1661 21.9985 29.0718 21.9043L18.9249 11.7573C18.7345 11.5669 18.4762 11.46 18.207 11.46C17.9377 11.46 17.6795 11.5669 17.4891 11.7573C17.2987 11.9477 17.1917 12.206 17.1917 12.4752C17.1917 12.7445 17.2987 13.0027 17.4891 13.1931L26.9194 22.6222L17.4891 32.0512Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div id="feedback" class="feedback">
      <div class="typeRooms">
        <button class="active-typeRoom">Подключение в квартиру</button>
        <button class="unactive-typeRoom">Подключение в офис</button>
        <button class="unactive-typeRoom">Подкючение в частный дом</button>
      </div>
      <div class="data-feedback">
        <div class="inputs-data-feedback">
          <input class="validInput" placeholder="Ваше имя" type="text" />
          <input
            class="validInput"
            placeholder="Ваш номер телефона"
            type="text"
          />
          <textarea
            class="validInput"
            placeholder="Адрес подключения"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="checkAndSubmit">
          <div class="checkAndText">
            <div class="custom-checkbox">
              <input type="checkbox" id="myCheckbox" />
              <label for="myCheckbox"></label>
            </div>
            <span>Соглашение на обработку персональных данных</span>
          </div>
          <button disabled>Отправить</button>
        </div>
      </div>
    </div>
    <div id="question" class="questions">
      <h2>FAQ</h2>
      <div class="question question-unactive">
        <div class="header-question">
          <span
            >I have a problem with the Internet, TV or equipment, can you help
            me?</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="11"
            viewBox="0 0 20 11"
            fill="none"
          >
            <path
              d="M19.7081 0.291713C19.6152 0.198736 19.5049 0.124978 19.3835 0.0746536C19.2621 0.0243292 19.132 -0.00157261 19.0006 -0.00157261C18.8691 -0.00157261 18.739 0.0243292 18.6176 0.0746536C18.4962 0.124978 18.3859 0.198736 18.2931 0.291713L10.0006 8.58546L1.70806 0.291713C1.52042 0.104073 1.26592 -0.00134373 1.00056 -0.00134373C0.735192 -0.00134373 0.480697 0.104073 0.293056 0.291713C0.105415 0.479353 1.97712e-09 0.73385 0 0.999213C-1.97712e-09 1.26458 0.105415 1.51907 0.293056 1.70671L9.29306 10.7067C9.38593 10.7997 9.49622 10.8734 9.61762 10.9238C9.73901 10.9741 9.86914 11 10.0006 11C10.132 11 10.2621 10.9741 10.3835 10.9238C10.5049 10.8734 10.6152 10.7997 10.7081 10.7067L19.7081 1.70671C19.801 1.61384 19.8748 1.50355 19.9251 1.38215C19.9754 1.26076 20.0013 1.13063 20.0013 0.999213C20.0013 0.867798 19.9754 0.737671 19.9251 0.616273C19.8748 0.494875 19.801 0.384585 19.7081 0.291713Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="body-question">
          <span
            >The tariff plan provides the opportunity to compare all current
            tariff plans without overpayments for all federal providers. You can
            objectively evaluate bonuses from each provider, and our operators
            will answer all your questions and help you make your choice.</span
          >
        </div>
      </div>
      <div class="question question-unactive">
        <div class="header-question">
          <span
            >I have a problem with the Internet, TV or equipment, can you help
            me?</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="11"
            viewBox="0 0 20 11"
            fill="none"
          >
            <path
              d="M19.7081 0.291713C19.6152 0.198736 19.5049 0.124978 19.3835 0.0746536C19.2621 0.0243292 19.132 -0.00157261 19.0006 -0.00157261C18.8691 -0.00157261 18.739 0.0243292 18.6176 0.0746536C18.4962 0.124978 18.3859 0.198736 18.2931 0.291713L10.0006 8.58546L1.70806 0.291713C1.52042 0.104073 1.26592 -0.00134373 1.00056 -0.00134373C0.735192 -0.00134373 0.480697 0.104073 0.293056 0.291713C0.105415 0.479353 1.97712e-09 0.73385 0 0.999213C-1.97712e-09 1.26458 0.105415 1.51907 0.293056 1.70671L9.29306 10.7067C9.38593 10.7997 9.49622 10.8734 9.61762 10.9238C9.73901 10.9741 9.86914 11 10.0006 11C10.132 11 10.2621 10.9741 10.3835 10.9238C10.5049 10.8734 10.6152 10.7997 10.7081 10.7067L19.7081 1.70671C19.801 1.61384 19.8748 1.50355 19.9251 1.38215C19.9754 1.26076 20.0013 1.13063 20.0013 0.999213C20.0013 0.867798 19.9754 0.737671 19.9251 0.616273C19.8748 0.494875 19.801 0.384585 19.7081 0.291713Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="body-question">
          <span
            >The tariff plan provides the opportunity to compare all current
            tariff plans without overpayments for all federal providers. You can
            objectively evaluate bonuses from each provider, and our operators
            will answer all your questions and help you make your choice.</span
          >
        </div>
      </div>
      <div class="question question-unactive">
        <div class="header-question">
          <span
            >I have a problem with the Internet, TV or equipment, can you help
            me?</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="11"
            viewBox="0 0 20 11"
            fill="none"
          >
            <path
              d="M19.7081 0.291713C19.6152 0.198736 19.5049 0.124978 19.3835 0.0746536C19.2621 0.0243292 19.132 -0.00157261 19.0006 -0.00157261C18.8691 -0.00157261 18.739 0.0243292 18.6176 0.0746536C18.4962 0.124978 18.3859 0.198736 18.2931 0.291713L10.0006 8.58546L1.70806 0.291713C1.52042 0.104073 1.26592 -0.00134373 1.00056 -0.00134373C0.735192 -0.00134373 0.480697 0.104073 0.293056 0.291713C0.105415 0.479353 1.97712e-09 0.73385 0 0.999213C-1.97712e-09 1.26458 0.105415 1.51907 0.293056 1.70671L9.29306 10.7067C9.38593 10.7997 9.49622 10.8734 9.61762 10.9238C9.73901 10.9741 9.86914 11 10.0006 11C10.132 11 10.2621 10.9741 10.3835 10.9238C10.5049 10.8734 10.6152 10.7997 10.7081 10.7067L19.7081 1.70671C19.801 1.61384 19.8748 1.50355 19.9251 1.38215C19.9754 1.26076 20.0013 1.13063 20.0013 0.999213C20.0013 0.867798 19.9754 0.737671 19.9251 0.616273C19.8748 0.494875 19.801 0.384585 19.7081 0.291713Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="body-question">
          <span
            >The tariff plan provides the opportunity to compare all current
            tariff plans without overpayments for all federal providers. You can
            objectively evaluate bonuses from each provider, and our operators
            will answer all your questions and help you make your choice.</span
          >
        </div>
      </div>
      <div class="question question-unactive">
        <div class="header-question">
          <span
            >I have a problem with the Internet, TV or equipment, can you help
            me?</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="11"
            viewBox="0 0 20 11"
            fill="none"
          >
            <path
              d="M19.7081 0.291713C19.6152 0.198736 19.5049 0.124978 19.3835 0.0746536C19.2621 0.0243292 19.132 -0.00157261 19.0006 -0.00157261C18.8691 -0.00157261 18.739 0.0243292 18.6176 0.0746536C18.4962 0.124978 18.3859 0.198736 18.2931 0.291713L10.0006 8.58546L1.70806 0.291713C1.52042 0.104073 1.26592 -0.00134373 1.00056 -0.00134373C0.735192 -0.00134373 0.480697 0.104073 0.293056 0.291713C0.105415 0.479353 1.97712e-09 0.73385 0 0.999213C-1.97712e-09 1.26458 0.105415 1.51907 0.293056 1.70671L9.29306 10.7067C9.38593 10.7997 9.49622 10.8734 9.61762 10.9238C9.73901 10.9741 9.86914 11 10.0006 11C10.132 11 10.2621 10.9741 10.3835 10.9238C10.5049 10.8734 10.6152 10.7997 10.7081 10.7067L19.7081 1.70671C19.801 1.61384 19.8748 1.50355 19.9251 1.38215C19.9754 1.26076 20.0013 1.13063 20.0013 0.999213C20.0013 0.867798 19.9754 0.737671 19.9251 0.616273C19.8748 0.494875 19.801 0.384585 19.7081 0.291713Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="body-question">
          <span
            >The tariff plan provides the opportunity to compare all current
            tariff plans without overpayments for all federal providers. You can
            objectively evaluate bonuses from each provider, and our operators
            will answer all your questions and help you make your choice.</span
          >
        </div>
      </div>
      <div class="question question-unactive">
        <div class="header-question">
          <span
            >I have a problem with the Internet, TV or equipment, can you help
            me?</span
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="11"
            viewBox="0 0 20 11"
            fill="none"
          >
            <path
              d="M19.7081 0.291713C19.6152 0.198736 19.5049 0.124978 19.3835 0.0746536C19.2621 0.0243292 19.132 -0.00157261 19.0006 -0.00157261C18.8691 -0.00157261 18.739 0.0243292 18.6176 0.0746536C18.4962 0.124978 18.3859 0.198736 18.2931 0.291713L10.0006 8.58546L1.70806 0.291713C1.52042 0.104073 1.26592 -0.00134373 1.00056 -0.00134373C0.735192 -0.00134373 0.480697 0.104073 0.293056 0.291713C0.105415 0.479353 1.97712e-09 0.73385 0 0.999213C-1.97712e-09 1.26458 0.105415 1.51907 0.293056 1.70671L9.29306 10.7067C9.38593 10.7997 9.49622 10.8734 9.61762 10.9238C9.73901 10.9741 9.86914 11 10.0006 11C10.132 11 10.2621 10.9741 10.3835 10.9238C10.5049 10.8734 10.6152 10.7997 10.7081 10.7067L19.7081 1.70671C19.801 1.61384 19.8748 1.50355 19.9251 1.38215C19.9754 1.26076 20.0013 1.13063 20.0013 0.999213C20.0013 0.867798 19.9754 0.737671 19.9251 0.616273C19.8748 0.494875 19.801 0.384585 19.7081 0.291713Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="body-question">
          <span
            >The tariff plan provides the opportunity to compare all current
            tariff plans without overpayments for all federal providers. You can
            objectively evaluate bonuses from each provider, and our operators
            will answer all your questions and help you make your choice.</span
          >
        </div>
      </div>
    </div>
    <div id="footer" class="footer">
      <a href="https://{{data['host']}}/" class="logo">ON-WiFi</a>

      <div class="numberAndMedia">
        <a href="tel:+78005500792"><span>&phone; +78005500792</span></a>
        <span>Бесплатная консультация Ежедневно с 9 до 22 часов</span>
        <div class="group-logo">
          <a href="https://t.me/on_wifi_bot"
            ><img src="/static/img/telegram50px.svg" alt=""
          /></a>
          <a href="https://wa.me/79526896473"
            ><img src="/static/img/whatsapp50px.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/tariffs.js"></script>
    <script src="/static/js/modals.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/cardTariff.js"></script>
    <script src="/static/js/questions.js"></script>
  </body>
</html>
