* {
  font-family: Inter;
  color: #000;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0px;
  background-color: #fff;
}
/* АНИМАЦИИ НА ОБЩАГ */
button {
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
}

.card-tariff {
  transition: transform 0.1s ease-out;
}

.card-tariff:hover {
  transform: scale(1.04);
}

.wrapper-navigations a {
  position: relative;
}
.wrapper-navigations a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #2a6f97;
}
.wrapper-navigations a::after {
  width: 0;
  transition: 0.3s;
}
.wrapper-navigations a:hover:after {
  width: 100%;
}
/* HEADER */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f7fa;
}

.wrapper-navigations {
  display: flex;
  gap: 60px;
}

.logo {
  display: flex;

  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo svg {
  margin-right: 5px;
}

.logo span:nth-child(1) {
  color: #000;
}

.logo span:nth-child(2) {
  color: #2a6f97;
}

.logo span:nth-child(3) {
  color: #013a63;
}

.navigate {
  color: #000;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper-telephone {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.city-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.city-button span {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2a6f97;
  cursor: pointer;
}

.header button,
.wrapper__mobile button {
  border-radius: 10px;
  background-color: rgb(42 111 151);
  padding: 15px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

a {
  text-decoration: none;
}

/* HEADER MOBILE */
.header__mobile {
  display: none;
}

.menuMobile {
  display: none;
}

.btn-mobile {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.wrapper__mobile {
  display: none;
  position: absolute;
  top: 35px;
  right: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px 6px;
  border-radius: 10px;
  z-index: 3;
  background-color: #fff;
}

.wrapper__mobile.show {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 7px 18px;
  width: 177px;
}

.wrapper__mobile.show a {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 3px 1px;
}

/* ПОЛУМОДАЛКА ДЛЯ ГОРОДОВ */
.cities {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  background-color: #f5f7fa;
  padding: 50px 0;
}
.cities span {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 52px;
  font-weight: 500;
}

.wrapper-all-cities {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper-all-cities h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.wrapper-all-cities a {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}
/* ФАКТЫ */
.aboutUs {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 85px;
}

.aboutUs-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 60px;
}

.fact {
  display: flex;
  align-items: flex-start;
  width: 660px;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: solid 3px #2a6f97;
  border-radius: 6px;
  padding: 20px;
  color: #2a6f97;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.fact span:nth-child(1) {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.fact span:nth-child(2) {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

.wrapper-footer-a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.footer a {
  color: #ccc;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-logo {
  text-align: center;
  padding-top: 10px;
  border-top: solid 1px #ccc;
  width: 80%;

  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-logo span:nth-child(1) {
  color: #ffffff;
}

.footer-logo span:nth-child(2) {
  color: #38bdf8;
}

.footer-logo span:nth-child(3) {
  color: #0369a1;
}

.footer-title {
  color: #9ca3af;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* МОДАЛКА */

.modals-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  background-color: #f9faf8;
  border-radius: 20px;
  margin: 30vh auto;
  max-width: 500px;
}

.modals-inactive {
  display: none;
}

.modals-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.modals-header p {
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modals-header img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modals form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  border: solid 1px #dfdfe6;
  border-radius: 10px;
  padding: 5px;
  background-color: #f9faf8;
}

.input-container img {
  height: 18px;
  width: 18px;
  margin-left: 10px;
}

.input-container input {
  height: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #f9faf8;
}

.modals form input:focus {
  outline: none;
}

.modals form button {
  width: 100%;
  height: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #2a6f97;
  border: none;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

/* ADAPTIVE */
@media (max-width: 1574px) {
  .header {
    display: none;
  }

  .header__mobile {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f5f7fa;
  }

  .navigate-mobile {
    font-size: 19px;
  }

  .menuMobile {
    display: block;
    position: relative;
  }

  .city-button {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .modal-mobile {
    padding: 11px;
  }
}

@media (min-width: 769px) {
  .footer {
    height: 147px;
  }
}

@media (max-width: 768px) {
  .wrapper-form span:nth-child(1) {
    font-size: 38px;
  }

  .wrapper-form input {
    width: 403px;
  }

  .wrapper-footer-a {
    flex-direction: column;
    gap: 10px;
  }

  .footer-title {
    padding-bottom: 20px;
  }

  .cities span {
    font-size: 45px;
  }
}

@media (max-width: 740px) {
  .fact {
    width: 540px;
  }
}

@media (max-width: 650px) {
  .navigate {
    font-size: 18px;
  }

  .wrapper-telephone span {
    display: none;
  }

  .fact {
    width: 440px;
  }
}

@media (max-width: 521px) {
  .fact {
    width: 315px;
  }

  .fact span:nth-child(2) {
    font-size: 18px;
  }
}

@media (max-width: 388px) {
  .fact {
    width: 290px;
  }

  .fact span:nth-child(2) {
    font-size: 17px;
  }
}

@media (max-width: 361px) {
  .fact {
    width: 268px;
  }
}
