.card {
  display: flex;
  flex-direction: column;
  width: 315px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: transform 0.1s ease-out;
}
.card button {
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

.card button:hover {
  transform: scale(1.04);
}
.card:hover {
  transform: scale(1.04);
}
.header-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-card span {
  color: #fff;

  font-family: Tektur;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.body-card {
  display: block;
  flex-wrap: wrap;
  margin: 10px 20px;
}
.nameAndImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nameAndImg span {
  color: #fff;
  font-family: Tektur;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nameAndImg img {
  height: 42px;
  width: 42px;
}

.paramsTariff {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 230px;
  color: #fff;
  font-family: Tektur;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.paramTariff {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px 0;
  gap: 10px;
}
.footer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 10px 20px;
}
.textAndImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.textAndImg span {
  color: #fff;
  font-family: Tektur;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.twoPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.twoPrice span:nth-child(1) {
  color: #fff;
  text-align: center;
  font-family: Tektur;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.twoPrice span:nth-child(2) {
  color: #fff;
  text-align: center;
  font-family: Tektur;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card button {
  width: 100%;
  height: 59px;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #0500ff;
  color: #fff;
  text-align: center;
  font-family: Tektur;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Медиа-запрос для устройств с разрешением от 601px до 1024px */
@media screen and (max-width: 441px) {
  .header-card span {
    font-size: 14px;
  }
  .nameAndImg span {
    font-size: 15px;
  }
  .paramsTariff {
    font-size: 10px;
  }
  .textAndImg span {
    font-size: 12px;
  }
  .twoPrice span:nth-child(1) {
    font-size: 26px;
  }
  .twoPrice span:nth-child(2) {
    font-size: 18px;
  }
  .card button {
    font-size: 18px;
  }
  .paramsTariff img {
    width: 30px;
    height: 30px;
  }
  .paramsTariff {
    height: 180px;
  }
  .header-card {
    height: 60px;
  }
  .nameAndImg img {
    height: 32px;
    width: 32px;
  }
  .footer-card {
    gap: 0px;
  }
  .body-card {
    margin: 5px 10px;
  }
  .footer-card {
    margin: 5px 10px;
  }
  .nameAndImg {
    margin-bottom: 0px;
  }
}
