html,
body {
  background-image: url("/static/img/background.png");
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.25);
  margin: 0;

  font-family: Inter;
  font-style: normal;
  line-height: normal;
}
.create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.create h1 {
  color: white;
  font-weight: 600;
}
.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  gap: 5px;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.listInput {
  border-radius: 10px;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 15px;
}
.listInput input {
  border: none;
}
.listInput div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  gap: 5px;
}
input {
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 15px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
input:focus {
  outline: none;
}
.create button {
  border-radius: 10px;
  background: #0500ff;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.create button:disabled {
  background-color: #9999cc;
  color: #666;
  cursor: not-allowed; /* Запрет курсора для неактивной кнопки */
}
