.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 30px;
}
.footer .logo {
  color: #0500ff;
  text-align: left;
  font-family: Tektur;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.numberAndMedia {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 5px;

  color: #fff;
  text-align: right;
  font-family: Tektur;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 370px) {
  .numberAndMedia {
    font-size: 15px;
  }
}
