.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.09);
  border-bottom: #fff solid 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 0 20px 20px;
  flex-wrap: wrap;
}
.header a {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.navigate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px;
}
.profileAndExit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 10px;
}
@media screen and (max-width: 756px) {
  .header {
    align-items: center;
    justify-content: center;
  }
}
