.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 35px 30px;
}
.header span {
  background-color: #0500ff;
  border-radius: 20px;
  padding: 5px;
}
.header .logo img {
  height: 44px;
  width: 190px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  flex-wrap: wrap;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .header {
    padding: 20px 10px;
    gap: 5px;
  }
  .header .logo img {
    height: 38px;
    width: 160px;
  }
  .header div {
    gap: 10px;
  }
  .header div span {
    font-size: 14px;
  }
}
