/* all */
* {
  font-family: Inter;
  color: #000;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0px;
  background-color: #fff;
}

/* АНИМАЦИИ НА ОБЩАГ */
button {
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
}

.card-tariff {
  transition: transform 0.1s ease-out;
}

.card-tariff:hover {
  transform: scale(1.04);
}

.wrapper-navigations a {
  position: relative;
}

.wrapper-navigations a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #2a6f97;
}

.wrapper-navigations a::after {
  width: 0;
  transition: 0.3s;
}

.wrapper-navigations a:hover:after {
  width: 100%;
}

/* HEADER */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f7fa;
}

.wrapper-navigations {
  display: flex;
  gap: 60px;
}

.logo {
  display: flex;

  font-size: 48px;
  font-weight: 600;
}

.logo svg {
  margin-right: 5px;
}

.logo span:nth-child(2) {
  color: #2a6f97;
}

.logo span:nth-child(3) {
  color: #013a63;
}

.navigate {
  font-size: 22px;
  font-weight: 500;
}

.wrapper-telephone {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.city-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.city-button span {
  font-size: 18px;
  font-weight: 600;
  color: #2a6f97;
  cursor: pointer;
}

.header button,
.wrapper__mobile button {
  border-radius: 10px;
  background-color: rgb(42 111 151);
  padding: 15px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

a {
  text-decoration: none;
}

/* HEADER MOBILE */
.header__mobile {
  display: none;
}

.menuMobile {
  display: none;
}

.btn-mobile {
  position: fixed;
  top: 45px;
  right: 60px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.wrapper__mobile {
  display: none;
  position: absolute;
  top: 78px;
  right: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px 6px;
  border-radius: 10px;
  z-index: 3;
}

.wrapper__mobile.show {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper__mobile.show a {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 3px 1px;
}

/* ПОЛУМОДАЛКА ДЛЯ ГОРОДОВ */
.cities {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  background-color: #f5f7fa;
  padding: 50px 0;
}
.cities span {
  margin-top: 30px;
  margin-bottom: 50px;

  font-size: 52px;
  font-weight: 500;
}

.wrapper-all-cities {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper-all-cities h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.wrapper-all-cities a {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

/* ПОИСК */
.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  background-color: #f5f7fa;
  padding-top: 30px;
  padding-bottom: 80px;
}

.container-search-span1 {
  z-index: 0;
  display: block;
  width: 696px;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
}

.container-search-span1 span {
  color: #2a6f97;
}

.container-search p {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

.container-search p span {
  color: #2a6f97;
}

.container-search input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 0.2);

  padding: 10px;
  padding-left: 25px;
  text-align: start;

  font-size: 20px;
  font-weight: 500;
}

.container-search input:focus {
  outline: none;
}

.wrapper-search {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 2px #0369a1;
  border-radius: 10px;
}

#SuggestionsContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
}

#SuggestionsContainer div {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/* ПРОВАЙДЕРЫ */
.providers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  gap: 20px;
}

.providers span {
  text-align: center;
  font-size: 52px;
  font-weight: 500;
}

.wrapper-providers {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

/* ПОПУЛЯРНЫЕ ТАРИФЫ */

.popular-tariffs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-card-tariff {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.popular-tariffs-text {
  text-align: center;
  font-size: 52px;
  font-weight: 500;
}

/* КАРТОЧКА */
.card-tariff {
  height: 400px;
  width: 255px;
  border-radius: 20px;
  box-shadow: 4px 5px 6px 0px #2a6f97, 0px 0px 4px 0px #2a6f97;
}

.card-tariff-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #2a6f97;
  border-radius: 20px 20px 0 0;
  padding: 7px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.card-tariff-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.wrapper-priceAndLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper-priceAndLogo img {
  height: 45px;
  width: 45px;
}

.wrapper-priceAndLogo span:nth-child(1) {
  text-decoration: line-through;
  text-decoration-color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.wrapper-priceAndLogo span:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
}

.params {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.param {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.param span {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.conn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.conn-info button {
  height: 30px;
  width: 180px;
  background-color: #2a6f97;
  border: none;
  border-radius: 10px;
  color: #fff;

  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.conn-info a {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}

.advantages {
  display: flex;
  max-width: 1600px;
  align-items: center;
  justify-content: space-around;
  margin: 100px auto;
  flex-wrap: wrap;
  gap: 50px;
}

.advantage {
  display: flex;
  height: 160px;
  align-items: center;
  justify-items: center;
  gap: 30px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #2a6f97;
}

.advantage span {
  width: 600px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.vertical-line {
  border: 1px solid #657fda;
  margin: 50px;
}

.wrapper-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f7fa;
  padding: 50px 0;
}

.wrapper-form span:nth-child(1) {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 10px;
}

.wrapper-form span:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
}

.wrapper-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}

.wrapper-form input {
  height: 40px;
  width: 800px;
  border: solid 2px #dfdfe6;
  border-radius: 10px;
  background-color: rgb(249 250 251);
  padding: 5px 0 5px 5px;
}

.wrapper-form button {
  border-radius: 10px;
  background-color: rgb(42 111 151);
  padding: 10px;
  width: 75%;

  color: white;
  font-size: 15px;
  font-weight: 400;
  border: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

.wrapper-footer-a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.footer a {
  color: #ccc;
  font-size: 18px;
  font-weight: 400;
}

.footer-logo {
  text-align: center;
  padding-top: 10px;
  border-top: solid 1px #ccc;
  width: 80%;

  font-size: 38px;
  font-weight: 500;
}

.footer-logo span:nth-child(1) {
  color: #ffffff;
}

.footer-logo span:nth-child(2) {
  color: #38bdf8;
}

.footer-logo span:nth-child(3) {
  color: #0369a1;
}

.footer-title {
  color: #9ca3af;

  font-size: 15px;
  font-weight: 400;
}

/* МОДАЛКА */

.modals-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  background-color: #f9faf8;
  border-radius: 20px;
  margin: 30vh auto;
  max-width: 500px;
}

.modals-inactive {
  display: none;
}

.modals-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.modals-header p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.modals-header img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modals form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  border: solid 1px #dfdfe6;
  border-radius: 10px;
  padding: 5px;
  background-color: #f9faf8;
}

.input-container img {
  height: 18px;
  width: 18px;
  margin-left: 10px;
}

.input-container input {
  height: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  background-color: #f9faf8;
}

.modals form input:focus {
  outline: none;
}

.modals form button {
  width: 100%;
  height: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #2a6f97;
  border: none;

  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

/* ADAPTIVE */
@media (max-width: 1558px) {
  .city-button {
    gap: 25px;
  }
}

@media (max-width: 1540px) {
  .header {
    display: none;
  }

  .header__mobile {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f5f7fa;
  }

  .navigate-mobile {
    font-size: 19px;
  }

  .menuMobile {
    display: flex;
  }

  .city-button {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .modal-mobile {
    padding: 11px;
  }
}

@media (max-width: 1350px) {
  .wrapper-search {
    width: 1170px;
  }
}

@media (max-width: 1250px) {
  .container-search-span1 {
    font-size: 56px;
    width: 385px;
  }

  .container-search p {
    font-size: 35px;
  }

  .wrapper-search {
    width: 1000px;
  }

  .wrapper__mobile button {
    padding: 10px 5px;
    font-size: 17px;
  }
}

@media (max-width: 1145px) {
  .cities span {
    margin-top: 120px;
    text-align: center;
  }
}

@media (max-width: 1120px) {
  .container-search-span1 {
    width: 330px;
    font-size: 47px;
  }

  .container-search p {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .btn-mobile {
    right: 15px;
  }

  .wrapper__mobile {
    right: 15px;
  }

  .wrapper-search {
    width: 860px;
  }
}

@media (max-width: 975px) {
  .navigate-mobile {
    font-size: 18px;
  }

  .wrapper__mobile button {
    font-size: 16px;
  }

  .city-button span {
    font-size: 17px;
  }

  .container-search-span1 {
    width: 292px;
    font-size: 40px;
  }

  .container-search p {
    font-size: 28px;
  }

  .wrapper-search {
    width: 741px;
  }
}

@media (max-width: 895px) {
  .navigate-mobile {
    font-size: 16px;
  }

  .wrapper__mobile button {
    font-size: 14px;
  }

  .container-search-span1 {
    width: 261px;
    font-size: 37px;
  }

  .container-search p {
    font-size: 25px;
  }

  .container-search input {
    height: 41px;
    font-size: 19px;
  }

  .wrapper-form input {
    width: 674px;
  }
}

@media (max-width: 840px) {
  .wrapper__mobile button {
    font-size: 13px;
  }

  .navigate-mobile {
    font-size: 14px;
  }

  .city-button span {
    font-size: 15px;
  }

  .container-search p {
    font-size: 23px;
  }

  .container-search-span1 {
    width: 245px;
    font-size: 35px;
  }

  .wrapper-search {
    width: 644px;
  }
}

@media (max-width: 768px) {
  .navigate-mobile {
    font-size: 13px;
  }

  .city-button span {
    font-size: 14px;
  }

  .wrapper__mobile button {
    font-size: 12px;
  }

  .container-search-span1 {
    width: 239px;
    font-size: 33px;
  }

  .container-search p {
    font-size: 20px;
  }

  .header__mobile {
    justify-content: start;
    gap: 80px;
  }

  .wrapper-search {
    width: 600px;
  }
}

@media (max-width: 748px) {
  .advantage span {
    font-size: 14px;
    width: 405px;
  }

  .wrapper-form input {
    width: 489px;
  }

  .cities span {
    font-size: 41px;
  }
}

@media (max-width: 660px) {
  .header__mobile {
    gap: 60px;
  }

  .container-search input {
    height: 39px;
    font-size: 18px;
  }

  .wrapper-search {
    width: 482px;
  }
}

@media (max-width: 600px) {
  .header__mobile {
    gap: 25px;
  }

  .wrapper-telephone {
    height: 26px;
  }

  .navigate {
    font-size: 20px;
  }

  .logo {
    font-size: 39px;
  }

  .navigate-mobile {
    font-size: 13px;
  }

  .advantage {
    height: 141px;
  }

  .advantage span {
    font-size: 11px;
    width: 330px;
  }

  .wrapper-form span:nth-child(1) {
    font-size: 38px;
  }

  .wrapper-form input {
    width: 403px;
  }

  .wrapper-footer-a {
    flex-direction: column;
    gap: 10px;
  }

  .footer-title {
    padding-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .footer {
    height: 147px;
  }
}

@media (max-width: 500px) {
  .wrapper-search {
    width: 410px;
  }

  .container-search input {
    height: 36px;
    font-size: 17px;
  }

  .container-search-span1 {
    width: 251px;
    font-size: 28px;
  }

  .container-search p {
    font-size: 18px;
  }

  .logo {
    font-size: 30px;
  }

  .logo svg {
    margin-top: -12px;
  }
}

@media (max-width: 470px) {
  .logo {
    font-size: 24px;
  }

  .logo svg {
    margin-top: -20px;
  }

  .navigate {
    font-size: 15px;
  }

  .navigate-mobile {
    font-size: 13px;
  }

  .wrapper-telephone {
    height: 20px;
  }

  .container-search-span1 {
    width: 187px;
    font-size: 26px;
  }

  .container-search p {
    font-size: 17px;
  }

  .navigate-mobile {
    font-size: 12px;
  }

  .wrapper__mobile button {
    font-size: 10px;
  }

  .city-button span {
    font-size: 13px;
  }

  .wrapper-search {
    width: 360px;
  }

  .container-search input {
    height: 34px;
    font-size: 15px;
  }
}
