body {
  margin: 0px;
  background-color: #fff;
}
/* АНИМАЦИИ НА ОБЩАГ */
button {
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
}

.card-tariff {
  transition: transform 0.1s ease-out;
}

.card-tariff:hover {
  transform: scale(1.04);
}

.wrapper-navigations a {
  position: relative;
}
.wrapper-navigations a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #2a6f97;
}
.wrapper-navigations a::after {
  width: 0;
  transition: 0.3s;
}
.wrapper-navigations a:hover:after {
  width: 100%;
}
/* HEADER */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f7fa;
}

.wrapper-navigations {
  display: flex;
  gap: 60px;
}

.logo {
  display: flex;

  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo svg {
  margin-right: 5px;
}

.logo span:nth-child(1) {
  color: #000;
}

.logo span:nth-child(2) {
  color: #2a6f97;
}

.logo span:nth-child(3) {
  color: #013a63;
}

.navigate {
  color: #000;

  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper-telephone {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.city-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.city-button span {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2a6f97;
  cursor: pointer;
}

.header button {
  border-radius: 10px;
  background-color: rgb(42 111 151);
  padding: 15px;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

a {
  text-decoration: none;
}
/* ПОЛУМОДАЛКА ДЛЯ ГОРОДОВ */
.cities {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #f5f7fa;
  padding: 50px 0;
}

.cities span {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #000;

  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.wrapper-all-cities {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper-cities {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px;
}

.wrapper-cities a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* ОТЗЫВЫ */
.wrapper-reviews {
  text-align: center;
  padding: 40px;
}

.wrapper-reviews p {
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  flex-wrap: wrap;
}

.review {
  display: flex;
  align-items: center;
  gap: 23px;
  width: 670px;
  height: 231px;
  box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.25),
    0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 15px;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.review img {
  border: solid 1px rgb(42 111 151);
  border-radius: 50%;
  background-color: #013a63;
  height: 100px;
}

.info-clients {
  display: flexs;
  text-align: center;
  gap: 10px;
}

.info-clients span:nth-child(1) {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-clients span:nth-child(2) {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.description {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* ФУУТЕР */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 147px;
}

.wrapper-footer-a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

.footer a {
  color: #ccc;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-logo {
  text-align: center;
  padding-top: 10px;
  border-top: solid 1px #ccc;
  width: 80%;

  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-logo span:nth-child(1) {
  color: #ffffff;
}

.footer-logo span:nth-child(2) {
  color: #38bdf8;
}

.footer-logo span:nth-child(3) {
  color: #0369a1;
}

.footer-title {
  color: #9ca3af;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* МОДАЛКА */

.container-modals {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 25px;
  background-color: #f9faf8;
  border-radius: 20px;
}

.modals-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.modals-header p {
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modals-header img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modals form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  border: solid 1px #dfdfe6;
  border-radius: 10px;
  padding: 5px;
  background-color: #f9faf8;
}

.input-container img {
  height: 18px;
  width: 18px;
  margin-left: 10px;
}

.input-container input {
  height: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #f9faf8;
}

.modals form input:focus {
  outline: none;
}

.modals form button {
  width: 100%;
  height: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #2a6f97;
  border: none;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
