html,
body {
  background-image: url("/static/img/background.png");
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
}
.blue-blur div {
  position: absolute;
  height: 250px;
  width: 400px;
  background-color: #0500ff;
  filter: blur(400px);
  pointer-events: none;
  z-index: 1;
}
#blue-blur-1 {
  top: 100px;
  left: 0px;
}
#blue-blur-2 {
  top: 300px;
  left: 900px;
}
#blue-blur-3 {
  top: 1000px;
  left: 300px;
}
#blue-blur-4 {
  top: 1600px;
  left: 1000px;
}
#blue-blur-5 {
  top: 2200px;
  left: 300px;
}
#blue-blur-6 {
  top: 2500px;
  left: 900px;
}
#blue-blur-7 {
  top: 3000px;
  left: 400px;
}
#blue-blur-8 {
  top: 3400px;
  left: 800px;
}
#blue-blur-9 {
  top: 3850px;
  left: 0px;
}
#blue-blur-10 {
  top: 4200px;
  left: 700px;
}
.filtersAndTariff {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 35px;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: fit-content;
  max-width: 320px;
  box-sizing: border-box;
  padding: 24px 21px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 25px 25px 100px 0px rgba(0, 0, 0, 0.25);
}
.filters-header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px;
  border-radius: 5px;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filterUnactive {
  display: none;
}
.filterActive {
  display: flex;
}
.filters-body {
  width: 100%;
  flex-direction: column;
}
.filter-inputRange {
  width: 100%;
}
.filter-price-header {
  width: 100%;
  display: flex;
  margin-bottom: 7px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filter-price-body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.header-inputRange {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.header-inputRange input {
  width: 82px;
  height: 46px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 11px 15px;
  border-radius: 5px;
  border: 0.5px solid #fff;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.lineForNumbers {
  border-top: solid 1px white;
  width: 100%;
}
.body-inputRange {
  width: 100%;
  height: 4px;
  box-sizing: border-box;
  border-radius: 5px !important;
  background: #fff !important;
}

.body-inputRange span {
  width: 10px !important;
  height: 10px !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 10px;
  margin-left: -0.3em !important;
  cursor: pointer !important;
}
/* Убираем стрелочки у элемента input type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.filter-header {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filter-body {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.checkboxAndText {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
/* КАСТОМНЫЙ ЧЕКБОКС */
.filters .custom-checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  cursor: pointer;
}

.filters .custom-checkbox input {
  position: absolute;
  opacity: 0;
}

.filters .custom-checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.filters .custom-checkbox label:after {
  content: "";
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  background-color: #fff; /* Цвет внутренней части при выборе */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.filters .custom-checkbox input:checked + label:after {
  transform: translate(-50%, -50%) scale(1);
}
.checkboxAndText span {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* КАРТОЧКИ И НАВИГАЦИЯ */
.tariff {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  box-sizing: border-box;
  padding: 28px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 25px 25px 100px 0px rgba(0, 0, 0, 0.25);
}
.wrapper-tariffs {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
.navigate-tariffs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 17px;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.pages svg {
  cursor: pointer;
}
.pages rect:hover {
  fill: #0500ff;
  fill-opacity: 1;
}
.group-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.pageNumber {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.activePage {
  background-color: #0500ff;
}
.unactivePage {
  background-color: transparent;
}
.noTariff {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 7px;
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.noTariff a {
  color: #fff;
}

/* Стили для разрешения ширины экрана до 600 пикселей */
@media screen and (max-width: 683px) {
  .filtersAndTariff {
    flex-direction: column;
  }
  .filters {
    max-width: none;
  }
  .pageNumber {
    height: 30px;
    width: 30px;
  }
}
